[2012-01-30 17:51] Romain-Geissler opened #1 "Broken download link"
The given link https://github.com/downloads/cedric-vincent/PRoot/proot-v0.7.1.tar.gz won't give anything useful.

[2012-03-14 20:10] #1 closed, assigned to nobody

[2012-04-29 08:43] cedric-vincent opened #2 "The new instance of QEMU executed on the behalf of the forked process tries to run gdbserver on the same port as its parent."
Details: https://groups.google.com/forum/?fromgroups#!topic/proot_me/ev2rS7kma30

[2012-04-30 08:11] #2 closed, assigned to nobody

[2012-06-25 19:25] alkino opened #3 "New version is broken!"
Hi!
When I want to start proot on my usual arm-rootfs it crashed:

But it can be funnier:

### GDB

60          status = snprintf(result, PATH_MAX, "/proc/%d", tracee->pid);
(gdb) bt
#0  readlink_proc (tracee=tracee@entry=0x0, result=result@entry=0x7fffffff6310 "/proc/self",

[code]
#1  0x00000000004061b1 in canonicalize (tracee=tracee@entry=0x0,

[code]
#2  0x000000000040623d in canonicalize (tra

[2012-07-02 10:46] #3 closed, assigned to cedric-vincent

[2012-10-17 14:55] guillon opened #5 "Implicit binding to temporary location results in failure"
With proot v2.2 I have a issue with a double binding to the same location causing errors.
As the implicit binding created by proot itself is choosen, I can't access the actual host location.
I have not seen the issue on previous proot versions.
Note that I have nested bindings, If I remove the three bindings and replace it by a single binding   /work1/gcc-build:/opt/gcc-build, I am not able to rep

[2012-10-17 15:00] guillon opened #6 "Default verbosity of proot v2.2 causes unexpected output"
With proot v2.2 I have too messages with the default options:

[code]

This causes troubles as the "proot info" messages make proot non transparent in non-warning and non-error cases.

[2012-10-31 08:37] #6 closed, assigned to nobody

[2013-02-21 08:10] hhm0 opened #8 "unix domain socket filepaths should be translated"
Currently, paths for [Unix domain sockets](http://www.kernel.org/doc/man-pages/online/pages/man7/unix.7.html) are not being translated to target paths..

This can prevent programs which depend on them to fail (which can cause filesystem errors which may not make sense to a user), or to need customized settings (e.g. `tmux -S ./tmp/tmux`, without `/` at beginning of filepath).

I think the fix woul

[2013-02-23 02:02] gabrielgrant opened #9 "Java fails to find libjli.so when run within PRoot"
Running `java -help` (i.e. the java on $PATH) within PRoot results in an error:

[code]

On my Ubuntu system, `/usr/bin/java` is a symlink chain pointing at `/usr/lib/jvm/java-6-openjdk/jre/bin/java`, but running that executable (`/usr/lib/jvm/java-6-openjdk/jre/bin/java -help`) directly within the PRoot works without a problem.

Outside of the PRoot, on the main system, running `java` works witho

[2013-04-09 08:53] cedric-vincent opened #10 "proot modifying its argument"
Reported by: Yann Droneaud
Ref: https://bugzilla.stlinux.com/show_bug.cgi?id=29185
Content:

Hi,

It seems proot is rewriting its arguments, so that the command line reported by
proc (ps, pstree, top) is slightly wrong:

sdk2.sh script run it with:

[code]

Then ps report:

[code]

The -b argument got cut in two, removing the ":"

Using proot-v2.4.1-2 with Fedora 17 x86_64.

Regards.

[2013-04-11 08:32] cedric-vincent opened #11 "Daemons aren't moved into the background correctly."
From issue #8:

As of my understanding, the issue with dtach under proot is due to the
fact that proot waits (for ptrace events) in the foreground, even if
all of its tracees were moved to the background. The problem is
reproducible with the code below: under proot, the terminal control is
never passed back to the parent shell, as it ought to be. In this
regard, proot is not transparent.

[code]

[2013-04-11 08:36] #8 closed, assigned to cedric-vincent

[2013-05-24 10:45] guillon opened #12 "Proot PATH search is broken when in another proot environment"
Copy, chmod and run the test below:
env PROOT=/abspath_to/proot ./proot_path_test.sh

Here is the shell script:

[code]

[2013-06-06 07:50] #5 closed, assigned to nobody

[2013-06-18 10:55] cedric-vincent opened #13 "Do not seccomp-trace any syscalls when there are no bindings. This should improve performance of ATOS extensions a alot."

[2013-06-18 10:55] cedric-vincent opened #14 "Add a mechanism to add new [fake] entries in /proc, for instance ``/proc/proot/config``."

[2013-06-18 10:56] cedric-vincent opened #15 "Add a way to get the reverse translation of a path"
Something like that:

[code]

  or maybe:

[code]

[2013-06-18 10:57] cedric-vincent opened #16 "Add an option to start a login shell instead of ``/bin/sh``."

[2013-06-18 10:57] cedric-vincent opened #17 "Improve code coverage of PRoot."

[2013-06-18 10:59] cedric-vincent opened #18 "ptrace emulation"
Currently, it's not possible to execute GDB, strace, or any other program based on "ptrace" under PRoot since this latter is also based on this syscall and the Linux kernel allows only one ptracer per process. The solution is to emulate this syscall in PRoot.

[2013-07-19 14:53] #18 closed, assigned to cedric-vincent

[2013-07-19 14:53] #17 closed, assigned to cedric-vincent

[2013-07-19 14:53] #16 closed, assigned to cedric-vincent

[2013-07-19 14:54] #15 closed, assigned to cedric-vincent

[2013-07-19 14:54] #14 closed, assigned to cedric-vincent

[2013-08-07 03:30] hhm0 opened #20 "argv0 not working correctly for certain PATHs"
"Multicall" binaries (`busybox`, for example) are not being run correctly for certain `PATH`s.

For example, in a rootfs where `/bin/sh` is symlinked to `busybox`, running it under `proot` will not work correctly, unless `PATH` is set a certain way (I am not sure if the target (e.g. `busybox`) has to be, or if symlink (e.g. `sh`) has to be, or both need to be, in `PATH`).

Instead of starting a ne

[2013-08-09 12:28] jonbrett opened #21 "proot warning: execve("/bin/true"): Operation not permitted"
I get the following error when running proot v3.1 on Linux Mint 15 (based on Ubuntu 13.04) x86_64:

[code]

Possibly this is could be reproduced on regular Ubuntu too... this is pretty-much a fresh install of Mint so it shouldn't be that difficult to reproduce the error in a VM.

I had a try with different proot versions and proot v2.4.1 works, but v3.0 and later doesn't. I notice that proot is us

[2013-08-14 08:48] #21 closed, assigned to nobody

[2013-08-16 13:59] #13 closed, assigned to cedric-vincent

[2013-10-16 21:18] alkino opened #27 "Conflict with glibc 2.18"
In ./src/tracee/event.c you include sys/ptrace.h and linux/ptrace.h.

But since glibc , they add definition of ptrace_peeksiginfo_args in sys/ptrace.h which is too in linux/ptrace.h

So it conflicts with linux/ptrace.h

Changelog glibc : https://sourceware.org/git/?p=glibc.git;a=blob;f=ChangeLog#l2462

The error:

[code]

Cordialy,

Nicolas

[2013-11-08 12:10] #27 closed, assigned to cedric-vincent

[2013-11-17 23:33] xlz opened #29 "aptitude crash at exit"
The host is Debian jessie testing, with kernel 3.11-1-amd64. The proot version is 3.2. To reproduce it:

[code]

This seems related to "a bug when using the ELF interpreter as a loader" as the comment in `src/cli/proot.c`. And yes Debian's aptitude is built with PIE.

I can also reproduce this on the host:

[code]

I see the roadmap says v3.4 would solve this kind of bugs. But I'm not sure if this

[2013-11-18 09:24] cedric-vincent opened #30 "epsxe: proot warning: process is doing suspicious brk()"
- Host: Slackware-14.1/Linux-3.10.17/x86_64
- Guest: Ubuntu-13.04/x86
- Command: proot -R ubuntu-13.04-x86 epsxe
- Output:
  <pre>
  proot warning: process 4183 is doing suspicious brk()
  Running ePSXe emulator version 1.9.4.
  [...]
  </pre>

[2013-11-19 08:36] cedric-vincent opened #31 "samba4: error: the configuration failed"
- Host: any
- Guest: any
- Command: proot -w samba-4.1.0  -0 ./configure
- Output:
  <pre>
  Checking whether setuidx is available : samba-4.1.0/source3/wscript:997: error: the configuration failed (see 'samba-4.1.0/bin/config.log')
  </pre>

[2013-11-25 05:21] geoff-codes opened #32 "Perhaps mention on site/docs that PRoot requires a Linux-kernel host?"
Hi there —

If I could gently make a suggestion for the PRoot website and/or docs, making an explicit mention of the fact that PRoot requires a Linux _host_?

While I know this might seem obvious, to the user of another POSIX based system, it actually isn't quite. While there are plenty of mentions of Linux _guest_ filesystems, `chroot`, `mount`, and the ptrace system call itself are all common to

[2013-11-25 13:34] ivoire opened #34 "uname not fully hooked"
Running "uname -a" under care gave different answers depending on the.

First execution on hostA:
$ care -o care-uname.tar uname -a
Linux hostA 3.11-2-amd64 #1 SMP Debian 3.11.8-1 (2013-11-13) x86_64 GNU/Linux

Re-execution on the same machine is identical while on another machine (hostB):
$ ./care-uname/re-execute.sh
Linux hostB 3.11-2-amd64 #1 SMP Wed Jul 9 15:46:26 EDT 2008 x86_64 GNU/Linux

Ho

[2013-12-01 20:12] cedric-vincent opened #35 "CARE might produce archives that can't be extracted without DAC_OVERRIDE capability (eg. being "root")"
How to reproduce this issue:

[code]

Workaround:

[code]

Possible solution: add to CARE an "extract" feature that does something similar to the workaround above.

[2013-12-06 07:00] Pinkbyte opened #36 "proot contains RWX sections"
When compiling proot 3.2.1 in Gentoo i have such warning:
- QA Notice: The following files contain writable and executable sections
-  Files with such sections will not work properly (or at all!) on some
-  architectures/operating systems.  A bug should be filed at
-  http://bugs.gentoo.org/ to make sure the issue is fixed.
-  For more information, see http://hardened.gentoo.org/gnu-stack.xml
-  P

[2013-12-13 09:20] cedric-vincent opened #37 "Unexpected "permission denied" when using "proot -0""
Setup:

[code]

Expected failure (without PRoot):

[code]

Unexpected failure (with PRoot):

[code]

Expected behavior:

[code]

[2013-12-13 09:24] #31 closed, assigned to nobody

[2013-12-18 10:01] cedric-vincent opened #38 "proot -0 does not set AT_*ID ELF auxiliary vectors"
Current behavior:

[code]

Expected behavior:

[code]

[2014-02-04 12:31] #35 closed, assigned to nobody

[2014-02-05 12:01] cedric-vincent opened #40 "Add an option to archive a path even if it is not used during the initial execution."
Details: http://linuxfr.org/news/care-et-la-reproductibilite-des-executions#comment-1517970

[2014-02-07 20:22] cedric-vincent opened #41 "Add an option to force the output archive format"
Details: https://linuxfr.org/nodes/101156/comments/1518591

[2014-02-10 23:24] KuSh opened #42 "sysenter start/end trace inversion on brk/mmap syscalls"
Hi,

Seems tracing in PRoot doesn't handle nested syscalls :

[code]

regards,
Nicolas

[2014-02-11 22:55] #42 closed, assigned to nobody

[2014-02-11 23:15] KuSh opened #43 "wine configure script is failing under script"
Hi,

With wine git master, ./configure is failing on debian testing with :

[code]

Problematic part of the configure file (see [1](http://source.winehq.org/git/wine.git/blob/f4985e42b7198b14ce4201a189c1faa5416e728e:/configure#l18226)) :

[code]

$wine_rules_file is a relatively big file and it doesn't seems to like embedding it.

I have a trace with proot -v 9 if wanted ... I've filtered out the

[2014-03-14 17:17] cprada opened #44 "Java cannot be executed if memory exceds 1 GB"
In PRoot 3.2.2, if JVM is launched with 1 GB of memory, JVM hangs. It was observed when launching a Java application as follows:

[PRootShlell]$ <JavaApplication> -vmargs -Xmx512m  -XX:MaxPermSize=512m

A CARE package can be provided if required.

[2014-03-18 12:35] #44 closed, assigned to nobody

[2014-03-24 20:40] fff7d1bc opened #45 "Unable to run dynamic uClibc-linked binaries with proot."
Hello,

Whenever I enter via proot an uClibc chroot I am unable to run dynamicly linked binaries, even a hello world, if I do however compile it staticly, it does work.

Test chroot http://landley.net/aboriginal/downloads/binaries/root-filesystem/root-filesystem-x86_64.tar.bz2

% echo 'gcc foo.c; ./a.out' | proot -r rootfs_x86_64/ -w / sh
Standalone execution is not enabled

% echo 'gcc foo.c -sta

[2014-03-26 17:45] #45 closed, assigned to nobody

[2014-03-31 12:43] #10 closed, assigned to cedric-vincent

[2014-03-31 12:46] #36 closed, assigned to cedric-vincent

[2014-03-31 12:47] #37 closed, assigned to cedric-vincent

[2014-04-01 06:38] eadmaster opened #46 "add recursive bind option"
I'd like to request a recursive bind option that works like this:

[code]

Instead of hiding the whole `/usr`  dir it should iterate over `/tmp/usr/*`  and bind all the contained files.

I know the same thing could be implemented with a shellscript, but if there are a lot of files in `/tmp/usr/*`  we could get a very long commandline and the shell may truncate it...

[2014-04-02 01:19] #46 closed, assigned to nobody

[2014-04-07 11:08] ivoire opened #47 "Extract/run/remove a care archive in one command"
It would be really hanldy to be able to extract, re-execute and remove the result of the extraction in only one command.

Something like:

[code]

Would be replaced by:

[code]

[2014-04-08 11:01] cedric-vincent opened #48 "Add support for response files, ie "@file" options on the command-line."
Reference: https://github.com/cedric-vincent/PRoot/issues/46#issuecomment-39180638

[2014-05-06 09:44] guilhem opened #50 "Clean debian"
Hi,

I create a [repository](https://github.com/guilhem/proot-debian) with all stuff needed to build debian package in a good way.
It only need #49 to work.

I can give you ownership if you want to. :)

I will also create launchpad project to autobuild packages on a ppa repository.
Can be far easier for any ubuntu user.

[2014-05-10 19:35] cedric-vincent opened #52 "Error when building Emacs"
How to reproduce this error:

[code]

Current result:

[code]

Note: this will be fixed once PRoot uses its own loader.

[2014-05-10 19:49] cedric-vincent opened #53 "Support for x32 ABI on x86_64 is broken"
How to reproduce:

[code]

Current result:

[code]

Note: this used to work (c.f. commit 59349c48d1afdeb743d5bfa54e4f356af9b09eba), maybe commit 677cd5a4436784183510241fe5074ccbe9fa5b6d broke something (all PR_x32 definitions were removed by this commit, as well as PR_ARM ones)

[2014-05-12 20:19] fff7d1bc opened #54 "Unable to build busybox with uClibc chroot within proot-ed env."
Hi,

I am testing whatever I can build full toolset using proot and apperantly I can't build busybox if I proot to uClibc env, but if I chroot to the same very env it does work.

[code]

Tested on busybox 1.21.1
The uClibc env I've tested it on https://bitbucket.org/piotrkarbowski/better-initramfs/downloads/aboriginal-r1649-with-ldso-rootfs-x86_64.tar.bz2

I do suspect it to be uClibc bug but I ca

[2014-05-13 16:34] #54 closed, assigned to nobody

[2014-05-27 11:10] cedric-vincent opened #55 "QEMU 2.0.0 optionally requires libstdc++, which isn't always in the usual locations"
Reported-by: @chewi
Ref.: https://groups.google.com/forum/#!topic/proot_me/OLbYgciCrPc

[2014-05-28 12:49] orent opened #56 "Error processing symlinks resolved through /proc/self"
This works:    sh -c 'echo test | cat /dev/stdin'

This doesn't:   proot sh -c 'echo test | cat /dev/stdin'

[2014-06-15 09:54] orent opened #57 "GNU tar: "file changed as we read it""
Step to reproduce:

[code]

Notes:
This happens only on older versions of GNU tar (happns on 1.23 but not on 1.26). According to strace the newer version uses newfstatat() rather than stat().

[2014-06-17 14:54] #38 closed, assigned to nobody

[2014-06-20 14:06] cedric-vincent opened #58 "CARE: Set AT_HWCAP ELF auxiliary vector to 0 to ensure better reproducibility"
That way, both initial and reproduced executions use the same code (in the standard C library).

Today, this can be achieved by setting LD_HWCAP_MASK to 0 before starting CARE.

[2014-06-20 17:09] smcc opened #59 "path.c:pop_component assertion failure on "/x""
The function pop_component in PRoot's path/path.c doesn't seem to correctly handle the case when the path argument has only one component, say "/usr". I can't figure out what the right thing to do in this case is, though: it seems like you would both want to leave the string as "/" and return "usr" as the last component, but there's no placement of a \0 byte that would have that effect. When the c

[2014-06-30 09:16] cedric-vincent opened #60 "Job control (stop/continue, a.k.a. suspend/resume) does not work"
How to reproduce:

[code]

Expected behavior: emacs is stopped.

Actual behavior: emacs still runs.

[2014-07-03 12:02] #59 closed, assigned to nobody

[2014-07-03 12:03] #56 closed, assigned to nobody

[2014-07-17 07:07] cedric-vincent opened #61 "PRoot and Gentoo's sanbox do not mix well."
How to reproduce:

[code]

Current result:  1
Expected result: 0

[2014-07-17 07:42] #61 closed, assigned to nobody

[2014-07-31 11:22] ivoire opened #62 "Binding over symlinks breaks destination"
Steps to reproduce

[code]

The same thing happen if the symlink points to a file.

[2014-08-03 08:03] alkino opened #63 "No more compiled man in the tarball"
Since 4.0.0 there is no more pre-compiled man page in the tarball so it adds a make depends for rst2xml.

Is it an oversight or is there some reason?

Regards,

Nicolas

[2014-08-03 08:38] #63 closed, assigned to nobody

[2014-08-04 09:15] #62 closed, assigned to cedric-vincent

[2014-08-04 11:06] ivoire opened #64 "cwd is not changed when target is bind mounted and matching proot cwd"
Reported on Debian bug tracker at (http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=756935):

[code]

This should output `/test`. It seems that the directory change is
not done is this particular case. It indeed does if the current working
directory is different than the one being bind-mounted:

[code]

[2014-08-06 10:55] #64 closed, assigned to nobody

[2014-08-17 23:58] fluxer opened #65 "Running Busybox as /bin/sh fails"
Busybox is a multi call binary and in most cases it installs symlinks,
PRoot tries to translate (follow) the symlink and breaks what BB
is using to identify what it is supposed to run (/bin/sh) as it relies
on argv(0).

Here is some output:
proot -v 2 -r base_root_i686/
proot info: binding = /home/smil3y/Desktop/builder/base_root_i686:/
proot warning: can't chdir("/home/smil3y/Desktop/builder/./."

[2014-08-20 11:50] #65 closed, assigned to nobody

[2014-09-03 12:07] #20 closed, assigned to cedric-vincent

[2014-09-15 14:30] fluxer opened #66 "current directory not changed by -R"
Oddly, when proot is invoked with -R the current directory is not actually changed to the
cpecified new root directory leaving the shell in the current directory with access outside
of the new root. This does not happend with invoked with -r. Here is an exmaple:

[code]

That looks like a critical issue and I expect it not to happen, or is there a reasonfor doing so?

[2014-10-07 09:00] cedric-vincent opened #67 "Too many direct ptracees"
How to reproduce:

[code]

Then, in another shell:

[code]

Current output:

[code]

Expected output: less direct ptracees.

[2014-10-08 07:48] cedric-vincent opened #68 "pldd doesn't work"
How to reproduce:

[code]

Current output:

[code]

Expected output:

[code]

[2014-10-27 12:30] cedric-vincent opened #69 "ptrace emulation layer doesn't work with multithreaded programs"
How to reproduce (under Slackware64-14.1):

[code]

Current output/error (the program stalls):

[code]

Reported-by: Christian milky...@gmail.com
Ref: https://groups.google.com/forum/?fromgroups#!topic/proot_me/jZclZLc959Q

[2014-11-06 00:41] jopasserat opened #70 "re-execute.sh fails because of unexpected redirection"
When I use CARE on my machine, regardless of the target application, the re-execution fails with this message:

`Syntax error: redirection unexpected`

The problem in _re-execute.sh_ is that the variable `COMP_WORDBREAKS` is set as follows:

[code]

removing the first quote ' solves the problem. The new script looks like this (diff output):

[code]

The most surprising thing is probably that my `C

[2014-11-06 10:31] #70 closed, assigned to nobody

[2014-11-07 19:48] jopasserat opened #71 "Python's string_escape is not captured"
This problem was already present in the previous release of CARE and is still there in 2.2.

When trying to archive a python script that somehow, through an import chain, makes use of a package called string_escape, the associated files (string_escape.py and string_escape.pyc) are not captured and archived.

The thing is this package is not explicitly loaded in the code, and it's only referred to

[2014-11-07 20:04] jopasserat opened #72 "Symbolic links resolution in CARE 2.2"
Before CARE 2.2, symlinks used to be followed and fully resolved:
- they were not archived but their target was
- the working directory option in `re-execute.sh` was set accordingly

Now:
- they are followed and fully resolved for the main executable only
- they are resolved "in place" for the accessed files
- the `-w workdir` option is set accordingly to the executable location in the archive.

T

[2014-11-18 11:55] #9 closed, assigned to cedric-vincent

[2014-11-18 11:55] #29 closed, assigned to cedric-vincent

[2014-12-01 17:05] saibe opened #73 "[Ubuntu 14.04] proot warning/error"
Hello,

In my project using proot/mock over stlinux, when I aunch a 'make boot', I have some warning.
It looks not matter since the command does what it should. I just share to you the warning message in case you have some details about it.

$ make boot

LANG=C LC_ALL=C stlinux_arm_boot -r -t "10.48.1.48:b2196stxh301:a9_0,active_cores=a9_0:dbu,ca9_freq=1500,debug=uart,debugram_base=0x47FF8000,debu

[2014-12-02 10:35] cedric-vincent opened #74 "``apt-get install fp-compiler-2.6.0`` crashes in Debian noroot"
-- https://github.com/corbinlc/gnuroot/issues/33#issuecomment-65201015

@pelya, could you please specify what the guest rootfs is?  Do you
have more information, like error messages?

[2014-12-06 13:32] cedric-vincent opened #75 "loader "terminated with signal 9""
How to reproduce (on Gandi Simple Hosting):

[code]

[2014-12-08 17:03] #67 closed, assigned to cedric-vincent

[2014-12-09 11:54] cedric-vincent opened #76 "Recent versions of GDB can't load shared library symbols for /lib64/ld-linux-x86-64.so.2."
How to reproduce (host system is Slackware64-current):

[code]

[2014-12-09 14:23] #69 closed, assigned to nobody

[2014-12-09 14:59] #72 closed, assigned to nobody

[2014-12-10 20:03] #73 closed, assigned to nobody

[2014-12-11 11:21] cedric-vincent opened #77 ""gdb -p" doesn't work with multi-threaded programs"
How to reproduce:

[code]

where tests/test-c47aeb7d.c was modified this way:

[code]

Expected result: gdb gives a prompt

Current result: gdb is stalled in the tracing-stop state.

Hypothetical fix: function attach_to_ptracer() should declare all
threads from ptracee's thread group as attached by ptracer.

[2014-12-11 11:21] cedric-vincent opened #78 "Don't let processes in the stopped state once detached"
How to reproduce:

[code]

then in another prooted shell:

[code]

then, back in shell-1:

[code]

[2014-12-16 10:58] cyberic99 opened #79 "Does PRoot work in a cpanel jailshell?"
Hello

I tried a static proot in a cpanel jailshell. I do not know exactly what restrictions there are...
Everything is done on an x86_64 system.

/bin/cat /dev/null <== works

./proot-x86_64 -v 3 /bin/cat /dev/null :

proot info: binding = /
proot info: pid 72: translate("/" + "/bin/cat")
proot info: pid 72:          -> "/bin/cat"
proot info: pid 72: translate("/" + "/bin/cat")
proot info: pid 72

[2014-12-18 01:12] jiridanek opened #80 "proot warning: ptrace(POKEDATA): Input/output error"
I experienced something similar to Issue #73 when following https://nixos.org/wiki/How_to_install_nix_in_home_%28on_another_distribution%29#Building_native_packages inside an OpenShift instance. The crashing command I executed inside proot environment is `env NIX_STORE_DIR=$HOME/nix nix-env -i nix`. The error message is this

[code]

I build proot myself from the git repository to have the current

[2014-12-18 13:34] #80 closed, assigned to nobody

[2015-01-06 08:45] cedric-vincent commented on #79
Hello @cyberic99,

I really want to solve this issue correctly, so please don't mind
about the delay... Sorry.

Here follows a summary of your experiences with PRoot in a cPanel
Jailshell so far:

- proot v4 works

- proot v5 doesn't work:

  - by default, you get "Permission denied" likely because "/tmp" is
    mounted with "noexec" option.

  - when using an alternate location for the loader you

[2015-01-06 10:21] cyberic99 commented on #79
Hello Cédric,

No worries about the delay, it is very nice to you to help me for my particular use case.

So I tried the commands.

I had to add '--no-check-certificate' to wget, in order to get the files.

After that, I have now:

# PROOT_LOADER=./proot-x86_64-v5.1.0-loader ./proot-x86_64 echo OK
OK

And yes, tmpfs is mounted like this:
tmpfs /tmp tmpfs rw,nosuid,noexec,relatime,size=1536000k 0 0

[2015-01-06 12:50] cedric-vincent commented on #79
On Tue, Jan 06, 2015 at 02:21:03AM -0800, cyberic99 wrote:

Good news! That means you encountered only one issue: "/tmp" mounted with
"noexec" option. I'll do something soon in this regard, maybe a new
command-line option ("-t") to specify a temporary directory (such an option
is also required to make PRoot works on Android anyway [1])

Thanks for the tests,
Cédric.

[1] https://github.com/corbinl

[2015-01-14 04:37] cartazio opened #81 "would OS X support be possible?"
1) would it be possible (wrt the design/architecture) to port proot to support (recent) OS X? (or similar bsd-ish systems?)
2) What would be needed to make such a thing happen?  (I might be interested in trying to help, if its a tractable goal)

[2015-01-19 10:03] cedric-vincent commented on #81
Hello Carter,

On Tue, Jan 13, 2015 at 08:37:50PM -0800, Carter Tazio Schonwald wrote:

As of my understanding, support for ptrace in OS X is quite limited.
For instance, it doesn't support the "stop on syscall" feature, which
required for PRoot.

I wonder if GDB has a workaround for this limitation.  Please, could
you try the following commands on OS X, then tell me what happens:

    shell$ gdb

[2015-02-20 12:12] mickael-guene opened #87 "test-hhhhhhhh.sh failed when proot is install/test under /tmp"
If I clone proot under /tmp and compile/test it then test-hhhhhhhh.sh failed.
 /tmp is mount under tmpfs =>
tmpfs on /tmp type tmpfs (rw)

[2015-02-28 15:48] gboddin opened #88 "Issues with unshare call"
Here is how I can now reproduce (I still have to learn CARE ;)) :

This is also happening when you try to proot -0 cdebootstrap-static (without the qemu layer)

[code]

[code]

The 2 log files are there if needed :

* http://debprootstrap.siwhine.net/debprootstrap/debprootstrap-armhf.log
* http://debprootstrap.siwhine.net/debprootstrap/strace-armhf.log

[2015-03-02 16:01] gboddin commented on #81
Yup,
Starting from Maverick gdfb looks replaced by gdb :

[code]

[2015-03-07 17:49] Manouchehri opened #89 "proot error: trying to remove a directory outside of '/tmp', please report this error."
Not entirely sure why this is happening, but I get `proot error: trying to remove a directory outside of '/tmp', please report this error.` when I'm exiting proot -S. I don't see any problems, but I figured I should report it as it does ask me to..

[2015-03-09 19:59] gboddin commented on #88
[code]
Another one. This one is on arch amel (not armhf)
Links are back up

[2015-03-22 22:22] pelya commented on #74
Hi. I've made another patch to read temp directory location from PROOT_TMPDIR env variable, sorry that it took so long. It uses __attribute__((constructor)) GCC extension and a bit of #define hackery, so probably not clean enough to merge.

https://github.com/pelya/cuntubuntu/blob/master/proot-android.patch

[2015-05-12 06:46] mickael-guene opened #90 "setting empty string environment variable cause trouble when parsing /proc/self/environ"
When the following condition are met :
- we launch a foreign binary and so we use qemu or umeq
- LD_LIBRARY_PATH is export in guest environment

Then ldso_env_passthru() empty original LD_LIBRARY_PATH env definition by writing an empty string (write_xpointee(envp, i, "");) and add -E LD_LIBRARY_PATH=... in qemu/umeq argument list.

Unfortunatly this define an environment variable which is equal to

[2015-06-23 15:26] kad commented on #81
In 10.10:

[code]

[2015-07-09 19:15] jopasserat commented on #71
I managed to make it work with another similar application by having CARE reveal my all home directory.

I guess there is some sort of python configuration in there.

That doesn't explain why it's not detected otherwise though.

[2015-07-16 06:12] cedric-vincent commented on #81
On Tue, Jun 23, 2015 at 08:26:32AM -0700, Alexander D. Kanevskiy wrote:

Hm, even GDB doesn't have a workaround for this limitation.  That
means it is not possible to port PRoot on MacOSX.

Regards,
C�dric.

[2015-07-16 09:15] kad commented on #81
I don't know how much it's useful, but there is article http://uninformed.org/index.cgi?v=4&a=3&p=14 that can help to overcome some of ptrace() @ MacOS weaknesses.

Maybe few other articles might be useful https://github.com/rentzsch/mach_override https://github.com/rentzsch/mach_inject http://soundly.me/osx-injection-override-tutorial-hello-world/

Obviously, it wouldn't be exactly same code for

[2015-07-28 03:32] djhshih commented on #89
I also get this error when I use `proof -S root` for some directory `root`. I use `proot-x86_64`. I do not have root permission.

    $ proot --help
    proot 5.1.0: chroot, mount --bind, and binfmt_misc without privilege/setup.

    $ uname -r
    2.6.32-358.18.1.el6.x86_64

    $ proot -S root date
    Tue Jul 28 03:30:12 UTC 2015
    proot error: trying to remove a directory outside of '/tmp',

[2015-09-20 20:18] dlech opened #92 "chgrp does not work with the -0 option"
I can see at https://github.com/proot-me/PRoot/blob/f393b4daf9bfd6d034cf2c8dd56d44f135b08e93/src/extension/fake_id0/fake_id0.c#L299, this is not implemented.

Any advice on how to implement this or work around it?

[2015-09-23 19:18] hmage commented on #43
Was hit with this when compiling wine 1.7.51:

[code]

Maybe there's still some way to make the heap dynamic? We'll keep hitting the fixed buffer size sooner or later.

[2015-10-14 06:00] acornejo opened #93 "proot assumes write access to certain directories"
by using the P_tmpdir variable directly proot will not work in systems where /tmp is not writable, for instance, android.

There are various ways around this, but the easiest one would be for proot to read and pay attention to the TMPDIR environment variable. There is a patch readily available for this:

https://github.com/pelya/debian-noroot/blob/master/proot-android.patch

Could we get this incl

[2015-10-24 15:27] dlech commented on #92
Same thing with `chown`.

[2015-11-29 07:37] kevinarpe commented on #52
I observe the same issue using the pre-compiled PRoot binary for Linux x86-64 when building Emacs 24.5.

[2016-01-13 07:33] wycats commented on #93
I hit this same issue. Am I crazy or does it seem wrong for P_tmpdir to ever produce a readonly directory?

[2016-01-13 07:37] wycats commented on #93
@acornejo our of curiosity, what are the other workarounds?

[2016-02-26 18:36] peter279k opened #94 "Using PRoot on Android that got some errors"
Hi everyone, I tried to use proot-arm and I developed an Android app.
I copied proot-arm to executable directory and executed it to launch the rootfs of Ubuntu armhf.
I got some following errors:
[code]

Here is my java code's snippest.
[code]

Can anyone have idea ? Thanks.

[2016-02-27 06:41] czenzel commented on #94
Hi @peter279k,

I am currently building a chroot system also for Android using Ubuntu Wily. I had this problem earlier this week and found I had to use the "next" branch of the source code and merge in the extension for symlink by hand. I am running into another problem unrelated to this; however, with the next branch you can specify a temporary directory for PRoot.

On Android, after compiling th

[2016-02-27 08:39] peter279k commented on #94
Hi @czenzel , thanks to for reply.
I want to ask problems :
1. Is the next branch name:  "link2symlink" ?
2. How to cross compile Proot ?I tried to use Android ndk standalone toolchain and it's not successful.
please help me.Thanks.

[2016-02-27 09:20] czenzel commented on #94
There are two branches: link2symlink and next. I have managed to compile them on Ubuntu by using a Ubuntu chroot and QEMU Static User Mode. Inside the chroot I have compiled with aarch64 for my Pixel C. After compiling on my desktop I move them into the Termux application and can execute the command.

Some reference GitHub projects that contain scripts for building PRoot inside a chroot include GN

[2016-02-27 16:35] peter279k commented on #94
Hi @czenzel . Thanks or your help, I found that  in GNURootDebian repo which is link: https://github.com/corbinlc/GNURootDebian/blob/master/GNURootDebianSource/src/armhf/assets/proot.mp2
Is it possible to use this executable file on Android directly ? I found that GNURootDebian is an Android app.

[2016-02-27 21:55] czenzel opened #95 "Proper Way to Use Link2SymLink in PRoot"
Hello everyone,

I am very stumped on using Link2Symlink of PRoot and was wondering if somebody has expereinced this issue or could help point me in the right direction. Maybe it is user error.

I have compiled the latest link2symlink for aarch64 for my Android Pixel C tablet running Android 6.0. I have been using Termux for experimentation and copied over the proot and a sample rootfs. Everything

[2016-03-21 15:02] peter279k commented on #94
I solved all of the problems about launching root filesystem.
I referenced the soure code of [GNURootDebian](https://github.com/corbinlc/GNURootDebian) and I intergated my app with the terminal emulator app successfully. Thank you for your help again.

[2016-03-21 15:02] #94 closed

[2016-07-13 10:38] javierurox commented on #95
Hi, i have the same problem , did you solve this problem finally,?

[2016-07-14 14:31] oschulz opened #101 "Mounting of FS images?"
It would be awesome if proot would support (read-only) mounting of file system images (e.g. SquashFS, ISO, ...). This would be especially useful for the root file-system, as it usually contains many small files - which impacts performance when using networked file systems (e.g. to run on many systems in parallel).
Would this be possible at all (e.g. using libguestfs)? Accessing the fs image conten

[2016-08-11 17:56] czenzel commented on #95
Hi @javierox

I haven't had any luck. I tried again last night with a custom compiled proot with link2symlink extension for Termux. It runs; however, I am still receiving the function not implemented error.

I did notice that some links on the extraction of the chroot are also giving errors under Termux.

I am going to see if there is another Terminal Emulator that might work. I have also tried to

[2016-09-06 15:05] copumpkin opened #103 "Small(er) example of using PRoot as a generic syscall interception framework"
The PRoot documentation states:

But CARE is a pretty big meaty example with a lot of its own logic in addition to the syscall stuff it uses PRoot to manage. I was wondering if you could bundle a minimal example that just shows how to build a minimal program that intercepts one or two syscalls in the endorsed PRoot manner and does something trivial (like print args before passing control to origin

[2016-09-16 13:15] samliddicott opened #104 "chroot syscall spoofing"
proot passes through chroot syscall, with appropriate path fixups.

can proot alternatively spoof the chroot syscall?
For cases where proot is needed chroot is often not available.

It would mean tracking a chroot path to always be suffixed to the root path (of the -r option).

The chroot syscall argument when an absolute path would be normalised so that excess .. cannot escape above the root, and

[2016-09-23 02:25] ifoolb opened #105 "Is it possible to have a working distro in a directory?"
I don't have root access on the server which is running ubuntu 14.04. I want to install some software so I copied /bin /usr /etc  /lib /var into my home directory and use proot to fake a root environment, but by this approach dpkg never works correctly. It reports errors like:
dpkg-query: error: parsing file '/var/lib/dpkg/updates/0000' near line 0:
 field name 'b#e8' must be followed by colon
I

[2016-09-23 03:08] ifoolb commented on #105
Sorry, it's not an issue of proot. It's because of our company's encryption software.

[2016-09-23 03:08] #105 closed

[2016-10-18 15:01] ivoire commented on #103
A long time ago, I payed with PRoot to make a strace like https://github.com/ivoire/PRoot/tree/pstrace.
This is not finished and unfortunately I don't have time to work on it anymore.

[2016-10-25 22:49] cgull commented on #11
This has come up again as mobile-shell/mosh/issues/814.  `proot` could handle this by forking itself differently.  The child would daemonize itself then run `proot`'s main code, and the parent would only do setup and then exec the chrooted user process.

[2016-11-03 16:55] alkino opened #106 "SEGSEGV with recent kernel and seccomp"
When I use proot with a recent kernel (4.8.4 and above) I got a segv.
When I disable SECCOMP with PROOT_NO_SECCOMP=1 it works.

I dig a little but I don't know seccomp at all.

[2016-11-03 18:10] alkino commented on #106
Has been fixed by: https://github.com/openmole/PRoot/commit/10119a1f1fd7dea012464ae176c2b5fc3eb18928
@vincenthage: can we have some explanations on your investigations?

[2016-11-03 18:44] vincenthage commented on #103
Hi,
If you're still looking for an example, I've developed a small extension [here](https://github.com/vincenthage/PRoot/tree/master/src/extension/portmap) that intercepts the bind and connect system calls and changes their parameters.

[2016-11-03 18:46] jopasserat commented on #106
We did a bit of digging to find it with @romainreuillon but the manpage helped:

This seems to work as filters that can't be unset when set. Setting one to 0 disables the filter and enables children processes to actually capture the event.

We're not experts in low-level stuff unfortunately so don't take our word for granted.

Our fork was mainly to integrate the work @vincenthage did over the sum

[2016-11-07 09:56] alkino commented on #106
I think we can fork it, yeah. Any advice @ivoire or @cedric-vincent?

[2016-11-08 08:00] cedric-vincent commented on #106
@alkino, @jopasserat, @vincenthage, you should have received an invitation to be owner of the "proot-me" organisation on Github.  Feel free to maintain PRoot (and/or your work related to) here, if you wish.

I would be glad if you maintain this project,
Cédric.

[2016-11-08 08:10] cedric-vincent commented on #106
Regarding this issue, maybe this could help:

-- http://robert.ocallahan.org/2016/10/rr-440-released.html

[2016-11-08 08:13] cedric-vincent commented on #106
I also sent an invitation to @meefik.

[2016-11-08 09:31] alkino commented on #106
Thank you @cedric-vincent for your trust.

[2016-11-08 15:35] jopasserat commented on #106
Thanks for everything around PRoot @cedric-vincent and for trusting us.

Would you have any document that could be useful for us? Usage stats? Users/devs we could get in touch with?

[2016-11-29 11:03] QiangF opened #109 "question: how to share multiple paths"
For example, the root home and tmp are on three seperate partitions,

    ./proot-x86_64 -r /media/usb0 -b /media/usb1:/home /media/usb2:/tmp

How to make the above command work?

[2016-11-29 12:23] QiangF commented on #109
OK, it works when I put -b in front of each path. It's not very clear in the document. Also the difference between -b and -m.

[2016-11-29 12:23] #109 closed

[2016-11-29 12:25] jopasserat commented on #109
Hi @QiangF, would you be happy to fill in a PR updating the doc in a way you think is clearer?
Would be great!

[2016-11-29 12:56] QiangF commented on #109
@jopasserat I am willing to, but I don't know how to do it properly.  I think the following need some explanation.
1 what is the difference between the following format:

     -b /etc/host.conf
     -b /media/usb1:/home

2 which configration takes effect if multiple -b *path* to the same destination, like

    -b /test1:/test  -b /test2:test

what happens if /test is not empty on the change root.

[2016-11-30 13:21] QiangF commented on #92
When I log in as root, ls -la  show all files are owned by root, when I log in  as normal user, all files are shown to be owned by that user .

[2016-11-30 18:16] jopasserat commented on #109
1. First one binds to the same location in rootfs, second one binds to the specified location (check that out https://github.com/proot-me/PRoot/blob/master/doc/proot/manual.txt)
2. The last one always overwrites the others, if `/test` is not empty, it's shadowed, just as it would be when mounting a filesystem on your machine using `mount`
3. It's an alias according to [the manual](https://github.c

[2016-12-03 18:10] vincenthage commented on #104
Hi there,
You could achieve this with an extension that acts in 2 steps:
1. Intercept the _chroot_ system call through the SYSCALL_ENTER_END event in order to remember the argument given to _chroot_, and also disable the system call itself because you want to spoof it and not let it return an error.
2. Change and check all paths through the _GUEST_PATH_ and _HOST_PATH_ events (see [here](https://g

[2016-12-06 15:37] samliddicott commented on #104
The chroot jail is stopped when chroot is called on a relative directory (usually one opened and saved before chroot) and the chroot is set to another alternative absolute path -- usually /

(I'm assuming that each process gets it's own state, that is forked, and preserved on exec)

[2016-12-08 05:11] Gnurou commented on #106
Just wanted to say thanks a lot for the PROOT_NO_SECCOMP=1 hint. I have been wondering why proot suddently stopped working for the last hour!

Looking forward to seeing further releases under the new maintainership!

[2016-12-08 10:04] jopasserat commented on #106
Glad it helped @Gnurou. Please note though that early performance tests we've been running suggest a significant performance drop when disabling Seccomp (something like 4 times as slow on a IO heavy application).

So we need to find an actual solution to re-enable seccomp in the future. #helpwanted ;)

[2016-12-23 12:17] Adonai opened #111 "Multithreading support?"
Hi. As I can see PRoot is now only single-threaded and looks at tracee signals sequentially one after another (event.c). Are there any plans on doing handler-per-tracee-thread implementation?

[2017-01-06 20:48] IceflowRE opened #112 "terminated with signal 11"
I tried to proot on `4.8.13-1-ARCH` to an `arm/ Debian` (server image: https://www.armbian.com/odroid-c2/).

(The boot is an extra partition but was mounted correctly to the boot folder)

I used proot `5.1.0` with `built-in accelerators: process_vm = yes, seccomp_filter = yes`

The result was:
[code]

[2017-01-07 14:46] jopasserat commented on #112
closed as duplicate of #106

[2017-01-07 14:46] #112 closed

[2017-01-07 20:23] IceflowRE commented on #106
I tried the proot from openmole but got:

[code]

[2017-01-10 11:39] jopasserat commented on #111
This is not part of the short-term plans. But feel free to document something over here if you have ideas to address this.

All the efforts are directed at solving #106  as far as I'm concerned.

Fancy joining?

[2017-01-10 11:42] jopasserat commented on #106
I haven't tested the qemu mode yet so it could be linked.
Do you have the same issue without the `-q` flag?

Also, this kind of issues might be better to report on the mailing list until they're proved to be actual bugs / missing features from the project.

[2017-01-10 12:38] Adonai commented on #111
Thanks!

I've yet to understand codebase and implications of changes, but will post here in case of any ideas.

[2017-01-10 12:43] jopasserat commented on #111
I've yet to understanding everything as well :)
But I'll try to format some notes that I've gathered here and there and make them available on the wiki so that everyone can contribute their bits too.

[2017-01-12 22:45] dja-fr opened #113 "Domain reproducible.io down ?"
Hi,
when I read the CARE's documentation I see the following link for downloading the binary :
- http://static.reproducible.io/care-x86
- http://static.reproducible.io/care-x86_64

Unfortunatly links are broken and the domain name seem to be reserved by "NameCheap" company.

Is there another url to download the binary ?

Thx

[2017-01-18 15:57] jopasserat commented on #113
Hi @dja-fr

You can find the latest stable binaries here:
https://github.com/proot-me/proot-static-build/tree/master/static

and the future release will land here:
https://github.com/proot-me/proot-static-build/releases

I've updated the references to the website, the new domain is https://proot-me.github.io/

Feel free to create a PR if you spot other locations where this should be updated.

[2017-01-18 15:57] #113 closed

[2017-01-18 16:55] IceflowRE commented on #106
Same issue without the -q flag.
Where to find the mailing list?

[2017-01-18 16:58] jopasserat commented on #106
https://proot-me.github.io/#support

[2017-01-28 21:26] jopasserat commented on #71
I came across a similar problem with Python3.5 this time.

## TL;DR

I've got an explanation, a workaround, and the TL;DR is: not sure something could be improved in the way CARE works: it's more to do with how Python works so Python users => ~~switch to a better language~~ / be careful :trollface:

## Full description

Here we go for the whole picture.

A minimal working example to reproduce this

[2017-01-28 21:26] #71 closed

[2017-02-10 18:03] VGib opened #114 "GNUMakefile problem"
Hello ,

I have identifyied 2 problems in your makefile:
1°) the makefile version should be 1
V = 0 --> V = 1
2°) the script for OBJIFY daesn't produce the right output on my computer.
As I'm not a C++ expert, I can't provide a patch for this point.

[2017-02-10 18:45] jorge-lip commented on #106
Hi. any news regarding #106 and the SECCOMP problem ?
Besides 4.8 kernels, I see that in CentOS 6 the accelerated mode 2 does not work and proot uses mode 1.
Without the filtering it gets really slow on all applications that use syscalls intensively,

[2017-02-10 18:58] alkino commented on #114
Can you be more explicit on "doesn't produce the right output" please?

[2017-02-10 19:17] VGib commented on #114
Hello, here are the need informations

## Code with problems
1. env LANG=C $(OBJDUMP) -f cli/cli.o |				\
			grep 'file format' | awk '{print $$4}'
2.  env LANG=C $(OBJDUMP) -f cli/cli.o |		\
				grep architecture | cut -f 1 -d , | awk '{print $$2}'

## Output on my computer
1. nothing
2. i386:x86-64

## Expected (I hard write this in the GNUMakefile )
1. elf64-x86-64
2. i386

## output of objdump

[2017-02-10 19:17] VGib commented on #114
I will ask to add your version to the package

[2017-02-10 20:56] alkino commented on #114
The problem seems to be that even if you set LANG=C your locale is still french.
Can you do `LANG=C cat foo_bar_no_exist`?

By the way, I'm french too and I am the maintainer of archlinux package.

[2017-02-11 10:36] VGib commented on #114
Yes it's seems to be in french, I don't know why
cat: foo_bar_no_exist: Aucun fichier ou dossier de ce type

[2017-02-11 12:30] alkino commented on #114
So this is a problem with your environment. Not a problem of PRoot.

[2017-02-13 18:51] alkino commented on #106
I'm on it. Really near now I think.
Problems comes from reordering like @cedric-vincent said.

[2017-02-13 19:01] jopasserat commented on #106
May I ask what track you're following @alkino? We've hit so many walls trying to fix that with @romainreuillon we'd be glad to understand what was the root of the problem :)

[2017-02-13 19:44] jorge-lip commented on #106
Hi, After posting the question, I decided to look at it over the weekend and I come out with this dirty solution changing tracee/event.c which seems to work ok. Maybe can help you guys to find a cleaner solution.

I'm using proot for udocker (https://github.com/indigo-dc/udocker) a tool to run docker containers without privileges.

[2017-02-13 19:55] jorge-lip commented on #106
Hi, After posting the question, I decided to look at it over the weekend and I come out with this dirty solution changing tracee/event.c which seems to work ok. Maybe can help you to find a better solution.

https://owncloud.indigo-datacloud.eu/index.php/s/yMj5yd24zY5kXIJ

I'm using proot for udocker (https://github.com/indigo-dc/udocker) a tool to run docker containers without privileges.

[2017-02-13 19:56] alkino commented on #106
Could you do a PR, please?

[2017-02-13 21:10] jorge-lip commented on #106
Done, fix event.c for seccomp and ptrace #115

[2017-02-15 09:51] alkino commented on #106
First, thanks for that @jorge-lip

But a fall trough from `SIGTRAP` to `PTRACE_SECCOMP` seems me really weird.
Can you explain what you understand of the problem and why you fix it like that?

[2017-02-15 22:52] christophe-lyon commented on #114
Sorry, I beg to differ.
It seems clear that the makefile is not immune to the user locale.
And it seems that 'LANG=C' in GNUmakefile is an attempt at avoiding such problems.
Wouldn't LC_ALL=C work?
Or LANGUAGE=C ?

[2017-02-18 11:57] VGib commented on #114
LC_ALL is working nicely.

What about using V=1 for the makefile ?

[2017-02-18 16:03] alkino commented on #114
Thanks, here is the fix.

For V=1 it doesn't make PRoot verbose, it makes the make of PRoot verbose so there is no point to set it by default.

[2017-02-27 10:17] ocharles opened #118 "proot.me no longer resolves"

[2017-02-27 12:26] #114 closed

[2017-03-09 16:35] gbraad commented on #118
You can find downloads at: https://github.com/proot-me/proot-static-build/releases

[2017-03-09 16:52] jopasserat commented on #118
the new website is hosted at https://proot-me.github.io/
closed as duplicate of #113
please open PR if you find occurrences of the old URL in the code

[2017-03-09 16:52] #118 closed

[2017-03-09 16:54] jopasserat commented on #32
Hopefully the website's first paragraph addresses that.
https://proot-me.github.io/

Please suggest changes in a PR to this repo if not https://github.com/proot-me/proot-me.github.io

[2017-03-09 16:54] #32 closed

[2017-03-20 17:26] mirage335 commented on #106
With this "fix", I still need to use "export PROOT_NO_SECCOMP=1", and further, proot does not work at all with a PREEMPT_RT kernel.

[2017-04-30 21:18] matthewbauer opened #120 "Binary URLs broken"
The page at https://proot-me.github.io/ refers to static binary URLs that are no longer available:

- http://portable.proot.me/proot-x86_64
- http://portable.proot.me/proot-x86
- http://portable.proot.me/proot-arm

Can these be mirrored on GitHub?

[2017-05-01 18:41] necrophcodr commented on #106
This issue is still present on the recent versions of proot, and have been reproduced on Sabayon 17.04 Xfce AMD64.

[2017-06-16 19:04] vincenthage opened #122 "Travis CI and pull requests"
Hi,
Travis CI has been renabled on this repos;
it should make PR-merging easier, as it looks like most of them are frozen.
And by that I mean PRs that are probably working and only missing throughout testing on multiple environments.

So now when introducing a new feature or a bug fix, we should also add a test along it
(or is-it too much and it would slow down PR merging even more?).

Any commit/

[2017-06-19 14:51] jopasserat commented on #122
Maybe we should specify / clarify a branching policy as well?
It seems there are some new features in `next`.
Do you think all PRs should be done against `next` and then `next` would be merged into `master` upon release?

[2017-06-29 21:11] vincenthage commented on #111
Hi Adonai,
I've found a mention of your idea at the end of the [roadmap](https://github.com/proot-me/PRoot/blob/master/doc/proot/roadmap.txt). Though implementing it reliably might take some time.

It might imply some issues with extensions/features that rely on having one unique central PRoot instance (like the netcoop and copy-on-write extensions).
But performance wise it might be worth it still

[2017-07-04 08:04] ghost opened #123 "Read only mounts?"
Is there a way to have bind option make read-only mounts?

[2017-07-08 11:43] therealfun commented on #123
Thanks for answering.
What do you mean by "read-only symlink"? A read-only mount/bind?

[2017-07-08 13:23] vincenthage commented on #123
Yep, so with something like this:
[code]
which links `src` and `readonly_src` but only allows read-only operations, from what I've seen.
And then you can create a Proot binding for `readonly_src`:
[code]
and `src` should be a read-only binding.

The issue is that it requires `sudo`. I don't know if there are user-space solutions that allows these.

[2017-07-08 13:57] jopasserat commented on #123
A bit convoluted but you might be able to achieve something similar in user land via `fuse`?

[2017-07-08 15:15] therealfun commented on #123
I guess bindfs is an option. I just have to get comfortable with this thought first, because proot made the user-space bind so easy... :)

[2017-07-09 22:46] vincenthage opened #124 "General discussion - Improving PRoot's performance : caching lstat calls"
Hi everyone,

I'm opening this kind of thread to discuss some points of interest related to performance in PRoot.
The features I would like to talk about here might be difficult to integrate in the existing codebase (or maybe not), but would will always be useful for newer implementations of PRoot if they are thought about from the beginning (later on this in another thread).

This issue will be a

[2017-08-21 19:13] tpimh opened #125 "Permission denied on recent kernels even without seccomp"
I'm on Arch Linux (kernel 4.12.8) and recently proot stopped working for me even with PROOT_NO_SECCOMP=1. I think the cause of it is the kernel upgrade. Here is the output:

    proot error: execve("/hello.static"): Permission denied
    proot info: possible causes:
      * the program is a script but its interpreter (eg. /bin/sh) was not found;
      * the program is an ELF but its interpreter (e

[2017-08-21 19:58] vincenthage commented on #125
Hello,
Can you activate the verbose (`proot -v 2`, lvl 2 should be enough) and paste the content of it so that we can get more details.

[2017-08-22 00:26] tpimh commented on #125
proot info: binding = /opt/build/ngtc-modern/alpine
    proot info: binding = /home/build
    proot info: binding = /tmp
    proot info: binding = /proc
    proot info: binding = /sys
    proot info: binding = /dev
    proot info: binding = /run/systemd/resolve/resolv.conf:/etc/resolv.conf
    proot info: binding = /etc/nsswitch.conf
    proot info: binding = /etc/hosts
    proot info: binding = /

[2017-08-22 00:52] tpimh commented on #125
Just tested it with LTS kernel (4.9.44) and it didn't work, so I don't know what actually did break it. It was working perfectly about a week ago.

[2017-08-22 16:52] vincenthage commented on #125
Looks like this issue:
https://github.com/proot-me/PRoot/pull/107

You binary might not have this fix.

[2017-08-22 23:25] tpimh commented on #125
Thank you! Looks like it was my fault. My `/tmp` was mounted with `noexec` option. After `mount -o exec,remount /tmp` it works fine.

[2017-08-22 23:28] vincenthage commented on #125
Glad your problem was fixed!

[2017-08-22 23:28] #125 closed

[2017-10-01 17:34] makefu opened #127 "Creating a new Release"
Right now all big distros (debian,ubuntu,arch,gentoo) package the official 5.1.0 release which is based on source code of 2014.
Right now we are discussing at NixOS (another distro) if we should either follow your master branch or use the patches from debian.

it would be fantastic if a new release could be published based on all the improvements you did over the last 3 years.

Related: https://gi

[2017-10-18 19:05] ahane commented on #120
https://github.com/proot-me/proot-static-build

[2017-10-18 20:53] jopasserat commented on #120
The idea is to have them generated automatically from Travis at some point.
You can use this sequence of instructions to build them from the source in the meantime: https://github.com/proot-me/PRoot/blob/f9e8b7f509bbff0f9d5c8486d8290346f0acd3fd/.travis.yml#L17-L26

[2017-10-23 10:39] tobiasBora opened #128 "Init-build-env-arm fails"
Hello,

First, thank you for this great tool. Then, I've a problem, I have no problem to cross compile proof using "init-build-env-x86.sh", but when I try to run the script for arm, it fails during the first slackware download part:

[code]

[2017-10-23 12:53] willprice commented on #120
FWIW I didn't realise the link @ahane posted had compiled binaries inside, I thought it was just scripts to build the binaries so cloned the *huge* repo.

Here are the direct download links for the binaries

* [`proot-x86](https://github.com/proot-me/proot-static-build/blob/master/static/proot-x86?raw=true)
* [`proot-x86_64`](https://github.com/proot-me/proot-static-build/blob/master/static/proot-

[2017-10-23 22:33] tobiasBora opened #129 "proot warning: signal 11 received from process 24"
Hello,

First thank you for this great tool. However, I don't know why, but if I download the alpine linux chroot (for x86_64 systems), I chroot into it using:

    PROOT_NO_SECCOMP=1 ./proot-x86_64 -0 -r "/tmp/myalpinefolder" -b /proc -b /dev -b /etc/resolv.conf /bin/bash

then most of the commands works without any trouble, except for the following command (the .nix is downloaded from [here](htt

[2017-11-11 21:29] michele13 commented on #128
you need to edit the file. Change this section of the file

[code]

to

[code]

[2017-11-16 08:02] michele13 opened #132 "merge link2symlink branch"
when will the link2symlink option be added into the master branch? it's a useful feature that could help users who can't create hardlinks on restricted environments

[2017-11-17 23:16] gwerbin opened #133 ""is not a regular file" error"
What am I doing wrong?

[code]

This is on Linux kernel 3.10.0 on an x86_64 system, with a non-administrator account.

edit: it seems like the instructions from https://nixos.wiki/wiki/Nix_Installation_Guide#PRoot are out of date, as it looks like the CLI is different from what those expect. Not sure if I should close this. The closest I've gotten was `proot -S / /bin/sh` but that doesn't appear t

[2017-11-17 23:57] #133 closed

[2017-11-30 12:49] jopasserat commented on #132
what PR is that?
did you test it yourself? would be great to have some feedback to make sure it's working

[2017-12-05 08:44] liuchibing opened #134 "proot info: pid 19967: terminated with signal 31"
When I run proot on a aarch64 cpu, i got this:

proot info: binding = /
proot info: pid 19966: translate("/" + "/bin/sh")
proot info: pid 19966:          -> "/bin/dash"
proot info: pid 19966: translate("/" + "/bin/sh")
proot info: pid 19966:          -> "/bin/sh"
proot info: exe = /bin/sh
proot info: argv =
proot info: initial cwd = /home/liuchibing
proot info: verbose level = 10
proot info: pid 1

[2017-12-05 23:40] tobiasBora commented on #128
Thank you!

[2017-12-31 00:35] mirage335 commented on #106
Redirection of folders visible to applications with hardcoded expectations (eg. Arduino, emacs, FireFox, Slic3r, Cura, Pronterface, etc), is an essential feature for ensuring these applications can be configured for a specific purpose (eg. https://github.com/mirage335/MarlinBuilder/blob/master/launchArduino) .

PRoot's methods and syntax present the logical solution to this problem, yet, it has no

[2018-01-03 15:32] jluttine commented on #133
@gwerbin Did you manage to get it working? I'm following those NixOS wiki instructions and have the same issue so I was wondering if there is some way to use PRoot..

[2018-01-06 06:39] Root-voidX opened #135 "Is this a P-Root issue or a gnuroot issue?"
Does P-Root have limitations which cause packages like gmsh, scilab, paraview and even simulation solvers to not run and/or cause segmentation faults? Also does P-Root support arm64?

Sorry if this is not directly related to proot, I am a beginner in this.

[2018-01-07 15:39] untoreh commented on #129
if you can, try switching between a statically linked binary if you are using a dynamic one

[2018-01-08 20:32] tobiasBora commented on #129
You mean for `proot`? It's already a static binary...

[2018-01-08 20:40] untoreh commented on #129
no i mean the actual program you run inside proot

[2018-01-08 21:13] tobiasBora commented on #129
So here it would be `tar` or `/bin/bash` ? It is pretty complicated to make sure that all the binaries are static, and I would need to recompile all the tools I want to use ?

[2018-01-09 04:45] untoreh commented on #129
I guess you should start by checking if the tar command works without the bash shell so run it directly on proot

[2018-01-11 06:06] AkihiroSuda commented on #104
Any update on this?

[2018-01-11 16:12] pespin commented on #8
Please, implement this for sendto() too. I have a test case which works without proot but fails with proot as of v5.1.0:

[code]

[2018-01-11 16:15] jopasserat commented on #8
Hi @pespin , thanks for reaching out!

Would you consider submitting a Pull Request?

[2018-01-11 16:37] pespin commented on #8
Sure, I'll do it whenever I have some time soon if nobody does it before me.

[2018-01-15 20:23] ignesco commented on #133
Looks like the -b option is needed:

mkdir -m 0755 ~/.nix
`./proot_5.1.1_x86_64_rc2--no-seccomp  -b ~/.nix:/nix`

Now it should be possible to run the standard nix package manager install instructions

N.B. Be sure to fully logout after installing nix so that .nix-profile is loaded.

[2018-01-15 20:30] gwerbin commented on #133
@ignesco it worked, thank you!

[2018-01-18 11:55] michele13 commented on #132
the link2symlink version is a brench of PRoot. Some android packages use a modified version of PRoot which has this neat feature. Android, as we know does not allow us to make hard links anymore. this PRoot binary intercepts any attempt to create a hardlink and creates a symlink instead..This is useful because certain programs use hardlinks to work. Such programs are: GCC. (it has lots of hardlink

[2018-01-26 15:37] christophe-lyon opened #138 "Incorrect error-code handling for unlink syscall"
Hi,
I've noticed that proot does not return the same error code as without proot in certain conditions.
The attached testcase is derived from a libstdc++ testcase: it creates subdirs top/a/b/, then removes all access rights on top and tries to rmdir top/a/b
Without proot, this results in a "permission denied" error,
with proot, it results in a "no such file or directory" error,
which then leads to

[2018-01-26 20:19] nckx commented on #127
I just want to voice my enthusiastic support here — and hopefully fire off another ping to somebody's in-box.

It's disheartening that this issue hasn't received any comments in 4 months. There's so much good work in master that deserves to be released properly. Is anything blocking that?

[2018-01-27 10:49] jopasserat commented on #127
yes, mainly two issues:
  - [ ] there cannot be a release without issue #106 fixed (PR #130 from the @jorge-lip is the best candidate at the moment but needs further investigation after reports it introduced another problem from @walterbrebels
  - [ ] merge #126 to have a simple build and release workflow. just need to add a publish to bintray hook to finalise this one

Any help welcome!

[2018-02-02 16:20] #128 closed

[2018-02-03 10:15] linweilian03 commented on #124
I use the proot -b xx:xx for a gui application, and I also found that the PRoot's performance is a little low. In my case, proot always used high up to 25% of cpu. 1% - 5% cpu usage will be acceptable, but 25% cpu usage is too high.

[2018-02-07 09:19] alkino commented on #127
And for the #106 we need to understand ptrace, seccomp and the internal state machine of proot. And it's not easy.

[2018-02-26 13:29] Hax4us commented on #129
+1
Same error using tar in proot alpine

[2018-02-26 13:41] Hax4us commented on #129
I don't know why..maybe the prob is binary of tar (which is symlinked to busybox binary )
Well currently I m using bsdtar

[2018-03-09 00:08] nckx commented on #127
I didn't respond because I can't help out with those things (certainly not seccomp), but thanks for both your answers!

[2018-03-13 11:42] pespin commented on #134
Same here with both 5.0.0 and latest master.
Running host: Linux docker 4.9.0-0.bpo.5-amd64 #1 SMP Debian 4.9.65-3+deb9u2~bpo8+1 (2017-01-05) x86_64 GNU/Linux
Trying to run something against a debian ARM rootfs (with qemu-arm-static).
All commands fails with "terminated with signal 31". Same setup used to work in a similar host.

Actually, it seems to fail even without using the qemu-arm-static pa

[2018-03-14 23:48] tobiasBora commented on #129
I also tried to run nix that I just compiled, and same problem, I've an error:

    builder for '/home/me/nix/store/gkmndl1ji3w2pqll766g2vq7dwh2hl04-0001-Fix-missing-build-dependency-for-pods.patch.drv' failed due to signal 11 (Segmentation fault)

I don't know if it can help, but I used verbosity 2 here, tell me if I can help you in another way

[code]

[2018-04-26 12:23] useruser456 opened #140 "How compile PRoot for aarch64"
Hi,

how compile PRoot for aarch64, I get this error:

aarch64-linux-gnu/bin/ld: cannot find -ltalloc

BR

[2018-04-26 13:18] christophe-lyon commented on #140
It probably means you need to install the libtalloc development package.
For instance:
apt-get install libtalloc-dev

[2018-04-26 15:06] #140 closed

[2018-05-06 11:16] cswl commented on #134
Is this also related?

[code]

[2018-05-14 04:50] insulsa commented on #101
Why not first mounting such images by FUSE? I don't get why leveraging the same load of metadata operations from one place to another helps with performance. If you like to cache such metadata in memory or discard them, It's achievable or already implemented with FUSE drivers or other wrapper programmes.

[2018-05-14 12:41] ttblum opened #142 "Segmentation fault running mc2xml binary"
I'm running proot 5.1.0 bundled with GNURoot Debian, on Android TV Marshmallow, on a Wetek Play 2 (ARM).

I have shell root access to the Android TV OS, but it isn't 'rooted'.

I would like to run the 'mc2xml' application to update my TV listings.  A statically linked binary is available for it for ARM linux, but not for Android.

If I run mc2xml using chroot, it runs fine:
[code]
But when I run i

[2018-05-14 18:54] oschulz commented on #101
On compute clusters, users often don't get FUSE privileges. In any case, this use case is now pretty much covered by Singularity.

[2018-05-14 18:54] #101 closed

[2018-05-16 14:14] lramage94 commented on #135
Can you please add more information on how those packages are failing?
Attach any relevant logs, operating system version, etc.

Yes, arm64 is supported.

https://github.com/proot-me/proot-static-build/blob/master/static/proot-arm64

[2018-06-01 00:33] mirage335 commented on #127
Please resolve this in the near future. Application directory redirection can be an invaluable feature on modern operating systems.

[2018-06-09 07:47] alkino commented on #134
@cswl no it doesn't seems related. You have a segfault but the original error is a "bad syscall".
I have no aarch64 with me.

@pespin @liuchibing  Maybe you could try to give us some gdb output, about what is currently run when we got this signal.

[2018-06-09 07:50] alkino commented on #132
He is talking about https://github.com/proot-me/PRoot/commits/link2symlink
It needs a good rebase.

[2018-06-09 08:42] alkino commented on #132
Hi michele.
I merge last master in link2symlink and add an option(`-l`) to enable it.
Can you test the last version of the link2symlink branch?
Thank you.

[2018-06-09 09:47] michele13 commented on #132
Unfortunately it says that the '-l' option is not recognized. I tried the command `proot -l -r /`

[2018-06-09 12:55] pespin commented on #134
@alkino How am I supposed to run gdb on it, isn't proot already using ptrace on vpid 1? as far as i know you cannot ptrace a process from several different processes right?

[2018-06-09 14:46] alkino commented on #134
Hum sorry, you're right.

[2018-06-09 15:16] alkino commented on #132
Do you really compile the `link2symlink` branch?

[2018-06-28 16:04] mardukbp opened #144 "Problem with compare_paths2 - Emacs 26 crashes when saving file"
I am running Ubuntu 18.04 from my home dir using PRoot. I installed Emacs 26 and it crashes while saving the .emacs file. In the Terminal, PRoot generates the following:

[code]

Previously I had used Emacs 24 under Ubuntu 16.04 without any problem.

[2018-07-03 08:30] hugobuddel commented on #118
Also, those binaries seem quite old, like from 2016, are the binaries not built anymore?
https://github.com/proot-me/proot-static-build/issues/5

[2018-07-20 05:12] MisterGitHubber opened #145 "Can't get response in java program"
I wrote script with PRoot usage. He works currectly in terminal emulator.

    #!/data/data/com.d330.veneraide/support/busybox sh

    PROOT_TMP_DIR=/data/data/com.d330.veneraide/support/ /data/data/com.d330.veneraide/support/proot -r /data/data/com.d330.veneraide/debian -v -1 -p -H -0 -l -L -b /sys -b /dev -b /proc -b /data -b /mnt -b /proc/mounts:/etc/mtab -b /:/host-rootfs /data/data/com.d330.v

[2018-09-12 00:11] llchan opened #146 "Exit with nonzero returncode if tracee killed by a signal"
It appears that the current implementation only saves the last exit status if WIFEXITED but not if WIFSIGNALED. Is this intentional? If not, we should add that. If it is intentional, then may I propose we add an opt-in mode that returns something bash-ish (128 + signal) or python-ish (-signal)? Even if it just returns a constant nonzero value, it would be more helpful than the current behavior whi

[2018-09-12 01:05] llchan commented on #146
Okay with verbose logging enabled I now get what's happening. The main process spawns a subprocess which returns with 0, causing proot to set `last_exit_status=0`. Then when the main process is killed, proot returns with the last exit status from the child rather than the main process.

I haven't read through the source too carefully yet, but if proot knows who the main process is, maybe it can tr

[2018-09-16 07:14] josch opened #147 "Please add support for the renameat2 system call"
When one tries to use the `mv` tool from GNU coreutils in proot, one currently gets a `No such file or directory` error. More details here: https://github.com/termux/proot/issues/25

They also seem to have a patch which seems to be this commit: https://github.com/termux/proot/commit/3045a143d6bc954c1f77b255386a4815b5cbab1d

Hope that helps!

[2018-11-08 19:19] oxr463 commented on #135
@Root-voidX are you still experiencing problems with this or has your issue been resolved?

[2018-11-08 19:34] oxr463 commented on #120
The website has just been updated with these links.

[2018-11-08 19:34] #120 closed

[2018-11-08 19:49] Root-voidX commented on #135
Sorry for the late response, yes I still have those issues. I have tried them on separate devices, separate android OS version and yet same issue. Here are the details:

I have used 3 devices in total:
- Nexus 7 (2012) rooted with ASOP 7.1.1 using Linux Deploy with Linux Kernal v3.4 (armhf)
- LG G6 on Android 7.0 using Gnuroot Debian with Kernal v3.18.31 (arm64)
- Samsung Galaxy S9+ on Android 8.0

[2018-11-08 19:50] oxr463 opened #163 "Generate website via docutils"
PRoot/Care documentation is being generated via `docutils` (See [proot/doc](https://github.com/proot-me/PRoot/tree/master/doc) dir); the website should do the same.

See also: https://github.com/proot-me/PRoot/blob/master/doc/howto-release.txt#L33

Resources: http://bettermotherfuckingwebsite.com

[2018-11-08 20:01] oxr463 commented on #122
- [ ] Update `.travis.yml`
- [] Update README.md to point to appropriate URLS

[2018-11-08 20:05] oxr463 commented on #135
I'll have to see what I can find out and I'll get back to you on that. In the mean time, do you have any logs from any of these devices?

[2018-11-08 20:13] oxr463 commented on #122
@vincenthage, it looks like you already applied those fixes in the [travis branch](https://github.com/proot-me/PRoot/tree/travis). Where you able to fix Coverity? It looks like it is still pointing to the old URL.

[2018-11-28 14:46] oxr463 commented on #135
This sounds like one of your issues: https://github.com/corbinlc/gnuroot/issues/99

[2018-11-28 14:50] oxr463 commented on #135
From what I can tell, it looks like these may be GNURoot issues. Also, that project appears to be abandoned. If I were you, I would try to maybe get a hold of the author (since he doesn't appear to be responding to any of the 80+ issues on that project).

[2018-11-29 14:41] oxr463 commented on #81
means it is not possible to port PRoot on MacOSX.

[2018-11-29 14:41] #81 closed

[2018-11-29 17:13] oxr463 commented on #50
Closing since issue mentioned has been resolved.

[2018-11-29 17:13] #50 closed

[2018-11-29 17:14] #135 closed

[2018-11-29 17:16] oxr463 commented on #79
Is this issue still occurring after `PROOT_TMP_DIR` was added?

[2018-11-29 17:21] oxr463 commented on #74
This sounds familiar to:

- https://github.com/proot-me/PRoot/issues/79
- https://github.com/proot-me/PRoot/issues/87

[2018-11-29 17:53] oxr463 commented on #95
Have you tried this with the [termux version of proot](https://github.com/termux/proot)?

[2018-11-30 15:55] cyberic99 commented on #79
I'd like to test it again, but where can I download an updated static build of PRoot?

[2018-11-30 18:59] christophe-lyon commented on #138
Any news on this?

I could give a look if I knew where to look at? It was not obvious to me after a quick look at the sources :)

[2018-11-30 19:05] amenk opened #151 "Cannot readlink of proc/self/cwd"
I am getting this error on a hosteurope managed server, what does that mean?

ftp1241457:~$ junest -f -p "-v 1"
proot info: binding = /dev
proot info: binding = /sys
proot info: binding = /proc
proot info: binding = /tmp
proot info: binding = /is/htdocs/wp12414575_0M9VC2TUSH
proot info: binding = /is/htdocs/wp12414575_0M9VC2TUSH/.junest:/
proot info: glue rootfs = /tmp/proot-25413-FZU4Tg
proot inf

[2018-11-30 23:44] oxr463 commented on #151
[code]
Taken from: [`src/path/temp.c`](https://github.com/proot-me/PRoot/blob/fb9503240eeaa3114b29b8742feb2bda6edccde8/src/path/temp.c#L102)

[2018-12-01 11:47] amenk commented on #151
@oxr463 I am using the latest junest, which ships with proot 5.1.0

What is happening in the above function? cleaning temp? Can it be skipped by some env variable? is it important?

[2018-12-01 15:41] oxr463 commented on #151
Could you try setting `PROOT_TMP_DIR` in your environment to another location?

[2018-12-01 15:45] amenk commented on #151
I did already --- I should have mentioned (but was thinḱing it might be in the debug output , sorry)
    cd
    mkdir tmp
    export PROOT_LOADER=.junest/opt/proot/proot-x86_64
    export PROOT_TMP_DIR=./tmp
    export PROOT_NO_SECCOMP=1

[2018-12-01 15:56] amenk commented on #151
I am wondering if it is picking up those env variables, because I cannot see the $HOME/tmp in the debug output ...

proot still prints

     proot info: glue rootfs = /tmp/proot-25336-ImGCJc

[2018-12-02 04:58] czenzel commented on #95
Hello @oxr463 - Sorry for the delay. I moved a few times since I issued this ticket and don't have my tablet anymore. Actually in 2016 when i posted this I was being bullied on Twitter. Anyways - if someone else can help you with the ticket that would be great. I do have a Pixel XL 2 that I can try again as well - but low priority on my side as well.

[2018-12-03 08:51] cyberic99 commented on #79
I'd like to test it again, but where can I download an updated static build of PRoot?

[2018-12-03 14:37] #151 closed

[2018-12-07 14:24] oxr463 opened #162 "GitLab CI"
The purpose of this mirror is to provide development builds of proot via [GitLab CI](https://docs.gitlab.com/ee/user/project/pipelines/job_artifacts.html).

Source: https://gitlab.com/proot/proot

See also: https://build.opensuse.org

[2018-12-08 03:23] oxr463 opened #152 "Purge remaining references to "proot.me""
- [x] https://github.com/proot-me/PRoot/blob/master/src/tracee/event.c#L246
- [x] https://github.com/proot-me/PRoot/blob/fb9503240eeaa3114b29b8742feb2bda6edccde8/doc/proot/manual.txt#L513
- [x] https://github.com/proot-me/PRoot/blob/fb9503240eeaa3114b29b8742feb2bda6edccde8/doc/proot/man.1#L664

- [x] https://github.com/proot-me/PRoot/blob/master/doc/care/manual.txt#L449

See also: https://github.c

[2018-12-11 02:26] #152 closed, assigned to oxr463

[2018-12-12 14:48] oxr463 commented on #122
https://github.com/mcandre/linters/blob/master/README.md#c

[2018-12-13 03:00] oxr463 commented on #122
(or is-it too much and it would slow down PR merging even more?).

As a new contributor, I am finding a hard time figuring out what the tests actually do; the names aren't very descriptive. Perhaps we should include a comment in each test summarizing what the test does?

[2018-12-13 04:00] oxr463 commented on #79
I'm working on publishing development builds via GitLab CI.

See also: https://github.com/proot-me/proot-static-build/issues/5

[2018-12-13 04:36] #147 closed

[2018-12-13 04:44] #95 closed

[2018-12-13 04:45] oxr463 commented on #132
See also: https://github.com/proot-me/PRoot/issues/95

[2018-12-13 09:17] katakombi opened #155 "Does PRoot work on MacOSX?"
Hi everyone,

 I am developing a Linux software which relies on proot, and checking whether I could make it available for MacOS. Does proot run already successfully under recent MacOSes?
If the answer is no, what would be necessary to be done?

thanks

[2018-12-13 15:43] katakombi commented on #155
Thanks for the prompt answer! Though I knew about the ptrace dependency I recall having read that there exists ptrace implementations for FreeBSD/MacOSX as well. But then again I don't have too much expertise in that particular technical field.

[2018-12-13 15:47] oxr463 commented on #155
You're welcome! You are correct, there is a `ptrace` on other UNIX-like systems, however, without going into too much detail, most of the PRoot code-base has been written against Linux specifically. For now, myself and a few others are trying to improve the project as-is, but maybe in the far future, we may be able to make the code portable to other kernels.

[2018-12-13 15:59] #155 closed

[2018-12-30 19:08] josch opened #156 "cannot add new user due to pam not working inside proot"
Hi,

it is currently impossible to use `adduser` or `useradd` with proot on a system with pam. I found this problem when I tried installing systemd inside a Debian unstable proot session and I got this error during execution of the maintainer script:

[code]

Similarly, trying to issue `adduser` fails as well like this:

[code]

Or like this:

[code]

A workaround for this, is to add a fake `audit

[2018-12-30 21:38] oxr463 commented on #156
Have you tried using the __fake_id0__ extension ([1])?

[1]: https://github.com/proot-me/PRoot/blob/master/src/extension/fake_id0/fake_id0.c

[2018-12-30 21:54] josch commented on #156
I did not! Do you have some runes for me how I could use the `-i` option to make pam and adduser work?

[2019-01-08 13:44] oxr463 opened #157 "CII Best Practices Badge Program"
Let's aim for gold!

https://bestpractices.coreinfrastructure.org

[![CII Best Practices](https://img.shields.io/cii/summary/2444.svg?label=cii-best-practices&style=flat-square)](https://bestpractices.coreinfrastructure.org/projects/2444)

[2019-01-08 23:56] oxr463 commented on #156
Try the `-0`option, from the manual.

"root" user, this is typically the case with package managers.  PRoot
can fake the root identity and its privileges when the ``-0`` (zero)
option is specified::

    proot -r /mnt/slackware-8.0/ -0

    # id
    uid=0(root) gid=0(root) [...]

    # mkdir /tmp/foo
    # chmod a-rwx /tmp/foo
    # echo 'I bypass file-system permissions.' > /tmp/foo/bar
    # cat

[2019-01-09 19:23] oxr463 commented on #156
Indeed.

**Host Info**

[code]

**Guest Rootfs**

[code]

[2019-01-09 20:42] josch commented on #156
Right, but this is an alpine linux guest rootfs. Is alpine linux using pam? I observed the problem in a Debian unstable guest rootfs. Shall I prepare a rootfs tarball for you to?

[2019-01-09 21:47] oxr463 commented on #156
Linux-PAM is a dependency of the shadow package ([1]), so yes, it is using PAM.

[1]: https://pkgs.alpinelinux.org/package/v3.8/community/x86_64/shadow

[2019-01-09 22:04] josch commented on #156
And I can still reproduce it in a debian unstable chroot.

If you have debootstrap available, you can produce a chroot environment by doing:

    $ sudo debootstrap --variant=minbase unstable ./debian-unstable
    $ sudo chown -R josch:josch ./debian-unstable

And then reproduce the problem with:

    $ proot --rootfs=debian-unstable --root-id
    # apt update
    # apt install systemd-sysv --yes

[2019-01-10 02:42] oxr463 commented on #156
Here is the full output from the first one:

[code]

For this one, let's try another option from the man page,

the ``-S`` option.  This latter enables the ``-0`` option and binds
only paths that are known to not be updated by packages...
--https://github.com/proot-me/PRoot/blob/master/doc/proot/manual.txt#L229

And here is the second:

[code]

So the user is actually being created, despite the er

[2019-01-10 05:10] josch commented on #156
But the process still exits with a non-zero exit code.

Do you acknowledge that this is a bug or not?

[2019-01-10 11:09] oxr463 commented on #156
There is no doubt it's a bug, but since 1) this is only happening in Debian Unstable, and 2) there are unexplored options from the manual; I would like to narrow down what the actual issue is.

[2019-01-10 11:13] oxr463 commented on #145
I noticed this is running on android; are you using the termux fork by any chance?

[2019-01-10 11:22] oxr463 commented on #157
Issue Reporting

Resources:

- https://blog.github.com/2016-02-17-issue-and-pull-request-templates/

[2019-01-10 13:16] josch commented on #156
Okay, wonderful! Yes, it's very weird that apparently only Debian is affected.

I'm very interested in this problem getting fixed, so I can allocate some time on this issue. What do you think would be some good next steps to narrow down this issue? Maybe I should try some other distributions to see if maybe Fedora or Arch are affected as well?

I never dived into the proot internals, but maybe I c

[2019-01-10 14:34] oxr463 commented on #156
I would try Debian stable to see if it's just on unstable? Fedora and Arch might help too.

I'm actually one of the newest maintainers for PRoot, so I too am just learning more about
the inner-workings of the code. But I would try to see if you could run PRoot in `gdb`?
Or perhaps `strace`?

I'm not really sure, but I will assist in anyway that I can.

[2019-01-13 02:55] oxr463 commented on #129
Can you try installing GNU tar?

[code]

[2019-01-13 03:03] oxr463 commented on #142
Can you post the output from running `strace`?

[2019-01-13 08:43] josch commented on #156
Okay, so here is a longer analysis. During all my tests I'm on Debian unstable. Just to make sure that this problem persists, I just compiled proot from git and I'm still getting:

    chfn: PAM: System error
    adduser: `/usr/bin/chfn testuser' returned error code 1. Exiting.

So this problem does not seem to be specific to the Debian package that I'm using but also persists in git still. Then I

[2019-01-13 11:16] oxr463 commented on #156
Wow! That's really amazing! I'll take a look into the default PAM configuration on those systems to see how they differ.

[2019-01-13 11:32] oxr463 commented on #157
Test Suite

Resources:

- https://github.com/proot-me/PRoot/issues/122#issuecomment-446825680

[2019-01-13 12:01] josch commented on #156
Or maybe there are some Debian-specific patches to adduser, shadow or pam that invoke this behaviour?

[2019-01-13 12:02] oxr463 commented on #106
@alkino, please test again. PR #130 has been merged in https://github.com/proot-me/PRoot/commit/28c4401e86e4c3a9e6a7b26c2707fe6519d45a37

[2019-01-13 12:58] oxr463 commented on #156
Oh, yeah I didn't think of that.

[2019-02-08 09:06] 138bit commented on #92
I think he's referring to the following:
[..]
chgrp: changing group of '/etc/ssl/private/ssl-cert-snakeoil.key': Permission denied
dpkg: error processing package ssl-cert (--configure):
 subprocess installed post-installation script returned error exit status 1
[..]

I have this error on the server at work, but not on my laptop. Both are running Debian Stretch. I too have problems with chown, but

[2019-02-08 11:39] oxr463 commented on #92
Thanks for the info! This sounds similar to https://github.com/proot-me/PRoot/issues/156.

[2019-02-08 12:44] 138bit commented on #92
You're welcome!
I've implemented that workaround already, thus its not the same issue (I think). I will have to get a hold of the server its logs before I can send you additional information. Do you need other version numbers?

[2019-02-08 14:51] oxr463 commented on #92
I think you have provided plenty of information. From the other issue (#156), we concluded that his issue was specific to Debian and kin; is it possible for you to try another distribution? Literally anything is fine, just not a derivative of Debian.

[2019-02-08 15:32] 138bit commented on #92
The strangest thing; the source is able to configure the root file system. Basically nothing has changed except some PRs are approved and merged to master. I was testing on a test branch which had the branches in question merged. Of course I cant reproduce the error any more because I've removed the test branch, sorry :/

I do have some time to retrace my steps this weekend and I hope it will shin

[2019-02-08 15:50] oxr463 commented on #92
Hmm, well that's good since I'm the one responsible for quite a few of those merges! 😉

True, hopefully this doesn't come up again, but if it does we can reopen it.

You're welcome!

[2019-02-08 15:50] #92 closed

[2019-02-10 16:11] dan-santana opened #158 "Unable to extract loader from binary on runtime (SIGILL)"
I'm trying to port PRoot to Alpine Linux (musl-based distro), but it's receiving a SIGILL during the  `extract_loader()` call at the following line when trying to read the binary loader from memory:
 https://github.com/proot-me/PRoot/blob/11972c0dab34e088c55c16a94d26c399ca7a26d8/src/execve/enter.c#L499

Here's the output of `proot -v 10 -S /home/user/my_root busybox.static ls`:
[code]
It works per

[2019-02-10 16:34] dan-santana commented on #158
Note that I'm able to cross-compile to x86-64 musl from Void Linux (x86-64 glibc) and the resulting `proot` binary doesn't present this issue when running it on Alpine Linux. The build process is the same, so I currently have no clue on what's going wrong on the `proot` binary built directly on Alpine Linux.

[2019-02-10 21:23] oxr463 commented on #158
Greetings,

I already have an aport for Alpine (See: https://gitlab.com/oxr463/aports/issues/18), however there are a few issues remaining before it can be submitted.

About a month or so ago, I merged a pull request for musl support, and I also emailed some of the other aports maintainers (specifically the one for libtalloc), about including static libraries for the purpose of rebasing our ci on

[2019-02-10 22:58] dan-santana commented on #158
Awesome! I was going to make a PR with the libtalloc.a fix + PRoot package after loader issue was solved, but it seems you are one step ahead of me :)

I'll try building with your PKGBUILD to see if the bug still happens and I'll post any updates here.

[2019-02-10 23:48] dan-santana commented on #158
Unfortunately [this APKBUILD](https://gitlab.com/oxr463/aports/issues/18#note_101216083) seems to not be building properly here (the `care` build is failing + `tracee.h` reporting incomplete type on `restart_how`), so in any case here's my APKBUILD:
[code]

It also includes a `proot-static` build that I'm currently in need to automate some tasks. The only piece that is missing to build it is the `

[2019-02-11 00:15] oxr463 commented on #158
Hmm, I'm not sure then. I'll have to look into this further.

If you could, it would be great to have that patch for `talloc-dev` submitted upstream.

[2019-02-11 01:58] dan-santana commented on #158
Patch submitted :) https://patchwork.alpinelinux.org/patch/4489/

[2019-02-11 17:41] oxr463 commented on #157
Community Building

- [x] https://github.com/firstcontributions/firstcontributions.github.io (See: https://github.com/firstcontributions/firstcontributions.github.io/pull/40)

- [ ] http://openhatch.org/guide

- [ ] https://github.com/up-for-grabs/up-for-grabs.net

- [ ] https://github.com/n1trux/awesome-sysadmin

Internships

- [ ] https://www.outreachy.org/communities/cfp

- [ ] https://summerof

[2019-02-13 00:05] oxr463 commented on #157
new issues. --[`doc/howto-release.txt`](https://github.com/proot-me/PRoot/blob/master/doc/howto-release.txt)

Coverity should be replaced by gcov/lcov

[2019-02-13 01:37] oxr463 commented on #157
https://www.git-scm.com/docs/git-check-mailmap

[2019-02-14 08:56] sunshinewithmoonlight opened #160 "Proot may not support MediaTek's helio A22 cpu"
I refer to the guide :
https://wiki.termux.com/wiki/Proot

When trying to proot, I get the following error:
root info: vpid 1: terminated with signal 11

I think that proot may not support MediaTek's helio A22 cpu till now. Right?

[2019-02-14 09:07] sunshinewithmoonlight commented on #160
The phone is Redmi 6A with MTK Helio A22 and Android 8.1 .

$ ./start-ubuntu.sh
proot info: vpid 1: terminated with signal 11

$ uname -a
Linux localhost 4.9.77+ #1 SMP PREEMPT Sat Dec 29 16:31:02 CST 2018 armv7l Android

Other things to say:
I have used redmi 4. It uses the Snapdragon 425 cpu and can run proot. The helio a22 is said to have been designed to counter the cpu of the Snapdragon 400 s

[2019-02-14 13:20] oxr463 commented on #160
Greetings,

Termux has their own fork of PRoot (https://github.com/termux/proot), which has changes that have not been merged upstream here yet (See: https://github.com/termux/proot/issues/22). If you are having an issue with the Termux variant, I suggest that you open an issue there first.

Alternatively, you could try downloading a static PRoot (https://github.com/proot-me/proot-static-build/tre

[2019-02-16 11:29] #160 closed

[2019-02-16 11:33] sunshinewithmoonlight commented on #160
Well, thank you very much.

[2019-02-17 12:38] sunshinewithmoonlight commented on #160
I think I need to add the end of the story.

I used magicsk and chroot and linux deploy to solve this problem.

And now, I can use julia language on Android 8. Cheers!

[2019-02-17 17:00] oxr463 commented on #160
Awesome, glad to hear it!

[2019-02-20 17:11] oxr463 opened #161 "Blog"
I think it would be ideal to create a blog post describing the current state of PRoot i.e. the transition of maintainership from the original author, and the issues faced by the current maintainers leading to the large gap since the last release.

See also: https://github.com/proot-me/PRoot/issues/157

[2019-02-20 17:38] oxr463 commented on #156
@josch, Greetings! Any progress on this?

[2019-02-20 18:33] josch commented on #156
I'm currently on holidays and did not manage to look into this problem since my last post to this issue.

[2019-02-20 18:52] oxr463 commented on #142
The website for that application does not contain any links for an ARM build so there really is no other way to reproduce this issue. I would recommend contacting the author of `mc2xml`.

[2019-02-20 18:52] oxr463 commented on #156
No worries! Enjoy!

[2019-02-22 02:49] oxr463 opened #164 "Meaningful names for tests"
Many of these tests contain a valid git commit id, which can be used to reference
the functionality of the test in question.

Additionally, all shell scripts should be modified to pass [`shellcheck`](https://www.shellcheck.net/) (See also: [CII Best Practices Badge Program](https://github.com/proot-me/PRoot/issues/157#issuecomment-452664078)).

Finally, old tests should simply be removed. If we re

[2019-02-23 14:40] oxr463 commented on #164
Shell script test template

[code]

[2019-02-24 15:39] oxr463 commented on #164
- [ ] `VERBOSE` environment variable for debugging failing tests.

[2019-03-04 00:42] oxr463 opened #165 "Wrong version number detected"
[code]

[code]

[code]

[code]

- [ ] Create test case

[code]

[2019-03-04 00:44] oxr463 commented on #165
As a workaround,

[code]

[code]

[2019-03-04 00:48] oxr463 commented on #165
[code]

[2019-03-04 01:31] oxr463 commented on #162
[code]

- [`GNUmakefile`](https://github.com/proot-me/proot-static-build/blob/master/GNUmakefile)
- [`Dockerfile.x86_64`](https://github.com/proot-me/proot-static-build/blob/build_environment/Dockerfile.x86_64)

Source: https://gitlab.com/proot/proot/tree/gitlab-ci

[![Gitlab pipeline status](https://img.shields.io/gitlab/pipeline/proot/proot/gitlab-ci.svg)](https://gitlab.com/proot/proot/pipeline

[2019-03-04 01:31] oxr463 commented on #162
[code]

[2019-03-04 01:34] oxr463 commented on #162
`tests/docker/dockerfiles/alpine/Dockerfile`
[code]

[2019-03-04 01:38] oxr463 commented on #162
[code]

[2019-03-04 01:59] oxr463 commented on #158
@dan-santana, I reached out on `#alpine-devel` to see if we can get your patch pushed.

In the meantime, I'm closing out my issue for creating a PRoot aport (https://gitlab.com/oxr463/aports/issues/18), in favor of letting you figure it out; this way, I can concentrate efforts elsewhere.

[2019-03-04 21:06] oxr463 commented on #162
Latest scan-build report:

<https://proot.gitlab.io/-/proot/-/jobs/171477139/artifacts/public/reports/scan-build-2019-03-04-205949-872-1/index.html>

[2019-03-04 21:07] oxr463 commented on #79
@cyberic99, here is a static build from the latest git commit:

<https://gitlab.com/proot/proot/-/jobs/171477139/artifacts/raw/public/bin/proot>

Please let me know if this works for you.

[2019-03-05 00:18] oxr463 commented on #162
[code]

TODO

- [ ] Publish loader e.g. `proot-x86_64-v5.1.0-loader`

[2019-03-05 00:37] dan-santana commented on #158
FYI: The libtalloc.a patch was upstreamed today and is already on the repositories :) Now this issue is the only thing left before adding PRoot to Alpine Linux :tada:

[2019-03-05 22:36] dan-santana commented on #158
Update: I can replicate the bug with the following minimal example:
[code]
And compiling in the following way:
[code]

In this way it works with both glibc and musl, but when I compile with the `-O2` flag I receive a `SIGILL` on the `write` call when running `./app`. This bug only happens in the optimized builds with musl, while on glibc it still works perfectly.

[2019-03-06 00:12] awilfox commented on #158
Alpine uses "standalone `fortify-headers`" which emit `SIGILL`, and is disabled with -O0 but enabled with -O2.

In their private copy of [`write`](https://git.2f30.org/fortify-headers/file/include/unistd.h.html#l146):

[code]

Since the compiler does not know how big `start` is, this comparison fails and you crash.

[2019-03-06 00:15] richfelker commented on #158
It does know how big start is: it's 1 byte, because that's how you declared it. Instead of:

[code]

try:

[code]

then remove the `&` (address-of) operators in the code below.

[2019-03-06 00:50] oxr463 commented on #158
@awilfox, how can we disable it?

[2019-03-06 00:53] dan-santana commented on #158
@oxr463 I'm preparing a PR right now :)

[2019-03-06 02:14] #158 closed

[2019-03-06 02:30] #162 closed

[2019-03-11 13:24] oxr463 commented on #161
## Timeline

**Dec. 15, 2014** - Latest release, `v5.1.0`, by [Cedric Vincent](#), (See: `git checkout tags/v5.1.0; git log -n1`).

**Nov. 3, 2016** - New maintainers step up to continue development of PRoot, (See: #106).

**Jun. 16, 2017** - Development stagnates due to frozen PRs, (See: #122).

**Oct. 1, 2017** - New release requested, (See: #127).

## Current Status

There are currently nine pe

[2019-03-11 13:28] oxr463 commented on #163
TODO

- [ ] Add Alpine Linux to "Third party packages" in `proot/manual.txt`

[2019-03-12 23:54] kpjensen commented on #106
I see the same error with kernel 4.15 when building proot from master.
I compiled from the forked udocker proot https://github.com/jorge-lip/PRoot/tree/udocker-1.1.1 and it executes okay and shows `proot info: ptrace acceleration (seccomp mode 2) enabled` in the debug log.

[2019-03-13 04:06] oxr463 commented on #106
Interesting, seeing as the fix in that fork, (See: https://github.com/jorge-lip/PRoot/commit/10ca3e88dc1d2e2b45439b181a168af6b4053b91), and this fix, (See: https://github.com/proot-me/PRoot/pull/130), were both authored by the same individual.. Can you post any relevant output/logs?

[2019-03-13 16:46] kpjensen commented on #106
That's what didn't make sense to me given that it's the same patch.
Output from master after `make proot.static`
[code]
Output from the forked repo on the same machine.
[code]

[2019-03-13 17:10] oxr463 commented on #106
I'll dig into this. Thanks for the input!

[2019-03-14 21:35] oxr463 commented on #106
Immediately one big difference that comes to mind is, the fix committed here is using pre-processor logic, i.e., macros, which is executed at compile time, whereas the fork uses logic at runtime to determine the host kernel version.

Your log output shows kernel version 4.15 so I'm puzzled as to why it is falling.

[2019-03-16 21:27] oxr463 commented on #163
Still not sure about, `doc/requirements.txt`, or `requirements.txt`.

[code]

[2019-04-01 20:00] oxr463 commented on #157
[code]

[2019-04-01 23:22] oxr463 commented on #106
@kpjensen, can you test on this branch, (https://github.com/proot-me/PRoot/tree/fix-seccomp)?

[2019-04-01 23:33] #122 closed

[2019-04-02 21:30] oxr463 commented on #164
https://github.com/proot-me/proot/commit/4be67b60ef22d78c91800306c5ec995fdd022c02#diff-354f30a63fb0907d4ad57269548329e3

[2019-04-03 14:07] oxr463 commented on #157
[code]

[2019-04-10 03:15] oxr463 commented on #163
[code]

[2019-04-10 03:29] #163 closed

[2019-04-17 16:54] neverrend commented on #165
http://www.xerxesb.com/2010/12/20/git-describe-and-the-tale-of-the-wrong-commits/

Describes the issue. Problems with the branches and versioning in git.

[2019-04-18 02:04] oxr463 opened #171 "Merge distro-specific patches upstream"
# Notable Forks

- [ ] [Debian](https://packages.debian.org/source/sid/proot)
- [ ] [Termux](https://github.com/termux/proot) (See: https://github.com/termux/proot/issues/22)
  - [ ] [Add support for Linux >= 4.8](https://github.com/termux/proot/commit/47138da843bbfcea2273a11ce9d83b40031465bf) Contains Android-specific functionality
- [ ] [UDocker](https://github.com/indigo-dc/udocker) (See: https

[2019-04-18 18:03] oxr463 commented on #165
Also, keep in mind non-git builds, i.e., from a release tarball, or `GIT=false make -C src proot`.

[2019-04-18 23:47] oxr463 commented on #156
@josch any word on this yet?

[2019-04-18 23:48] oxr463 commented on #145
@MisterGitHubber, are you still experiencing this issue?

[2019-04-19 00:23] oxr463 commented on #146
Can you provide a more concrete example of your findings so that the issue can be reproduced?

[2019-04-19 09:13] christophe-lyon commented on #138
ping?

[2019-04-19 11:19] oxr463 commented on #138
Greetings, let me run the test program you've supplied and I'll get back to you.

[2019-04-19 12:15] oxr463 commented on #138
Which version of PRoot are you using? Also, please provide your distribution and version.

I'm on Gentoo, with PRoot v5.1.0; here is my output:

[code]

[2019-04-19 15:10] christophe-lyon commented on #138
I'm using proot-5.1.0 under:
* redhat-6.4 kernel 2.6.32
* ubuntu-16.04.5 kernel 4.4.0
but it looks like you are observing the same problem as me (I don't use fakeid0): you have "Permission denied" vs "No such file or directory" messages.

[2019-04-22 20:27] llchan commented on #146
If you run e.g. `proot sleep 60` and send a signal to the sleep process, it currently returns -1 regardless of the signal.  It would be helpful to return something signal-dependent so that it's possible to distinguish between e.g. a SIGINT and a SIGSEGV.  Bash uses 128 + signal as the returncode, and python uses -signal as the returncode. Those may be reasonable conventions to adopt?

[2019-04-23 23:04] oxr463 commented on #146
Alright, here is what I have,

[code]

I also tried `SIGINT`, but that didn't kill it at all?

[2019-04-24 00:38] llchan commented on #146
Try sending kill to `$(pgrep sleep)` or somesuch, what we want is for inner signals to bubble up.

[2019-04-24 01:16] oxr463 commented on #146
Oh, I see.

So `SIGINT` returns `proot info: vpid 1: terminated with signal 2`, and then `SIGSEGV` returns `proot info: vpid 1: terminated with signal 11`.

Now, running `sleep 60`, locally outside of PRoot, `SIGINT` returns `130`, and `SIGSEGV` returns `139`, respectively, (via `echo $?`).

What is this signal `128` from bash that you are referring to?

[2019-04-24 17:25] llchan commented on #146
Not sure if these are the official docs, but it's mentioned [here](https://www.tldp.org/LDP/abs/html/exitcodes.html). So for example, if the process gets killed by SIGINT=2 or SIGSEGV=11, and bash sets the returncode to `128 + signum` for 130 and 139,respectively.

[2019-04-25 00:57] oxr463 commented on #146
Seeing as both Bash and Python are scripting languages, I think it would be more appropriate to try to use the conventions set forth in `/usr/include/sysexits.h`, as mentioned in the resource you supplied. Which do you think would be the most appropriate? Would this be an operating system error?

`#define EX_OSERR    71  /* system error (e.g., can't fork) */`

[code]

[2019-04-25 11:58] josch commented on #156
Nope, I did not continue work on this as other stuff has priority for me right now.

But I hope I left enough information in this issue so that people with sufficient time and interest in proot can take a stab at figuring out what the problem is.

[2019-04-25 13:15] oxr463 commented on #156
Thanks for all the debugging you have put into this so far.

[2019-04-25 14:25] oxr463 commented on #129
As I'm sure you already know, Alpine Linux uses musl libc, instead of glibc. Fortunately, patches have been made to support musl in PRoot, (See: https://github.com/proot-me/proot/commit/5bb196e49870f7ea87c071725988c5a11051ec5e). Please test again. If you need a newer static binary, try this one from GitLab CI/CD:

- https://gitlab.com/proot/proot/-/jobs/199284395/artifacts/raw/public/bin/proot

[2019-04-25 15:32] cyberic99 commented on #79
@oxr463 yet, with the provided binary, it works if I set PROOT_TMP_DIR to another directory.

thanks!

[2019-04-25 15:39] oxr463 commented on #79
Awesome! Glad to hear it.

[2019-04-25 15:39] #79 closed

[2019-04-25 23:54] oxr463 commented on #75
[code]

[2019-04-25 23:59] oxr463 commented on #123
- [ ] Example using bindfs with PRoot for read-only mounts.

[2019-05-01 01:45] tobiasBora commented on #129
Still the same issue, even with the latest binary.

Steps to reproduce:

[code]
Note that even if you don't call bash and directly tar it fails:
[code]
For you it works out of the box?

[2019-05-01 06:16] #145 closed

[2019-05-01 06:17] #142 closed

[2019-05-01 06:21] oxr463 commented on #87
Have you tried setting the `PROOT_TMP_DIR` environment variable added in https://github.com/proot-me/proot/commit/cda94e12019170f4553adac2e06510b571576d15?

[2019-05-02 20:59] oxr463 commented on #164
Resources:

- https://github.com/sstephenson/bats
- https://github.com/libcheck/check

[2019-05-11 00:37] oxr463 commented on #129
Alright so I tried this again, and I got it working.

[code]

So it looks like this is isolated to busybox somehow.

[2019-05-11 00:46] #132 closed

[2019-05-14 01:43] #171 closed

[2019-05-19 09:44] arno01 opened #173 "proot can't start ssh-agent"
## Command Output

[code]

with strace:

[code]

## Specifications

  - Proot/Care version: 5.1.0
  - Kernel version: 4.15
  - Host distribution: Ubuntu 18.04

## Extra

On Android Pie (``Linux 4.9.112``, Samsung):

[code]

with strace:

[code]

[2019-05-19 18:01] arno01 commented on #173
I can run ``proot ssh-agent`` in Android Studio, using ``Android 9.0 (Google APIs) x86_64`` image, though proot doesn't let it go in background:

[code]

[2019-05-19 18:58] oxr463 commented on #173
Thank you for your bug report.

I am able to reproduce on 5.1.0; as well as on master.

[code]

[2019-05-22 07:08] vityafx commented on #106
Hi guys. I had sort of similar problem with `ptrace`. In my case, children and sub-children were crashing because of, I think, not checking the result of their `fork()` and something else (a bug, actually). I've found that this problem occurs only with binaries which have subprocesses or multiple threads, so I decided to dig deeper into that. I've found that the tracer was not set by the kernel to

[2019-05-22 11:30] oxr463 commented on #111
See also: https://github.com/proot-me/proot/issues/106#issuecomment-494680705

[2019-05-23 11:58] eebssk1 opened #174 "Cannot "login" to root because of pam"
## Expected Behavior
successfully loged into root
## Actual Behavior
bash says "Cannot make/remove an entry for the specified session " and then exit

## Steps to Reproduce the Problem

  1.export LD_PRELOAD=noau.so
  2.proot -0 --qemu=qemu-aarch64-static -S cr login
  3.>log into root<

## Specifications

  - Proot/Care version:5.1.0
  - Kernel version:Linux 4.19.0-5-amd64 #1 SMP Debian 4.19.37-3

[2019-05-23 12:04] eebssk1 commented on #174
After some googling.I found a way to solve this problem.
 Comment out  "session    required     pam_loginuid.so" in /etc/pam.d/login
But maybe there will be a way to solve it in proot instead of manipulate rootfs?

[2019-05-23 18:19] oxr463 commented on #174
Why are you doing the `LD_PRELOAD` command?

Also, what is the `cr login` portion of your command?

It would be helpful to know what you are trying to accomplish.

[2019-05-23 18:37] oxr463 opened #175 "Add Void Linux to Ecosystem"
Void Linux uses PRoot for its `xbps-src` utility:

Void Linux also provides a package for PRoot:

- https://github.com/void-linux/void-packages/tree/master/srcpkgs/proot

[2019-05-23 22:25] eebssk1 commented on #174
@oxr463
The library from LD_PRELOAD is a hack from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=745082#75 which solves another issue about pam which causes "su: system error" "chfn:system error"(the workaround of #156?).
The "cr " in command line is just my root directory..

[2019-05-23 22:31] eebssk1 commented on #174
The purpose of login command is that I prefer a clean terminal environment and correctly run any shell dependencies like /etc/profile
(well,I found "su -"do the same without causing the problem,may because it doe not load libloginuid pam library...)

[2019-05-23 22:35] oxr463 commented on #174
Oh interesting! We were wondering why that only affected Debian-variants.

[2019-05-23 22:37] oxr463 commented on #156
@josch, it looks like [this](https://github.com/proot-me/proot/issues/174#issuecomment-495406815) might be the answer to this issue. If you have any time to test, let me know; otherwise, I can test it myself before closing this issue.

[2019-05-23 22:43] oxr463 commented on #174
Can you paste your syslogs, e.g., `/var/log/messages`, `/var/log/auth.log`, etc.?

[2019-05-23 23:18] eebssk1 commented on #174
well I didn't find these in my guestfs ..so the following are from hostfs
(didn't find anything useful about the problem though)

https://gist.github.com/eebssk1/8984a4f86ba214e38921d17f3f53a909

[2019-05-23 23:36] oxr463 commented on #174
In the guest, you might need to manually install syslog-ng or rsyslog in order to get logs.

I just setup an alpine rootfs to test this, and I didn't experience any issues so this too might be Debian-specific. Even if it is, I'll still try to help you figure out the issue.

[2019-05-23 23:45] eebssk1 commented on #174
updated,,still no difference,maybe must get them from guestfs?but how..

[2019-05-24 00:09] eebssk1 commented on #174
well,tried it.no logs available in guestfs .and the rsyslogd even became a zombie process.
so..I think the best solution currently is modifying the pam configuration and use ld_preload

[2019-05-24 01:00] oxr463 commented on #174
What user id does it set it to without that module?

[2019-05-24 01:36] eebssk1 commented on #174
1000
I think that module is always trying to set user ID matches the actually user?
since the root is fake,the operation will fail.which causes the problem?

[2019-05-24 04:09] josch commented on #156
I'm confused now. The message you link to lists DebianBug#745082 but I already pointed to this bug in the submission to this issue and noted that this is a workaround. So how is this news?

[2019-05-24 11:24] eebssk1 commented on #156
@josch well I think these issue are hard to resolve by modding proot?

[2019-05-24 12:39] oxr463 commented on #156
@josch, apologies, I didn't realize they were the same thing. 😳

[2019-05-25 17:03] eebssk1 commented on #174
Directly invoke su as a normal user will result "setgid:operation not permitted"
The only way is login to root from host or run "fakeroot su" in guest(may not stable and bypasses password).

[2019-06-02 21:15] maralorn opened #176 "Document the location of static-binaries from GitLab CI/CD jobs"
## Expected Behavior

Since `proot` master seems to contain some important bug-fixes I am especially aiming at hoping for 09a0c3cd83c20ff680f6481ca1050bc1108d0363 I was wondering if you could provide newer static-compiled binaries.

This is a revival of #120, where the binaries were updated the last time.

I am on nix and had sadly no luck with compiling `proot` statically on my own.
I would be gl

[2019-06-02 21:31] oxr463 commented on #176
Greetings,

Development builds can be found under artifacts for GitLab CI/CD Pipelines:

- https://gitlab.com/proot/proot/pipelines

Here is the latest build on master:

- https://gitlab.com/proot/proot/-/jobs/210727458/artifacts/file/public/bin/proot

Hopefully that helps

[2019-06-02 22:18] maralorn commented on #176
Wow, thank you so much. That helped!

[2019-06-04 18:08] oxr463 commented on #176
TODO

- [ ] Update documentation regarding compiling static binaries

[code]

[2019-06-07 08:49] zaoqi opened #177 "Replace mktemp with mkstemp"
[code]

[2019-06-07 10:40] oxr463 commented on #177
Thank you for creating an issue. This occurs when compiling the project.

We are aware of it, however the focus has been on fixing the seccomp issue predominantly.

Pull requests are more than welcome!

[2019-06-10 23:47] oxr463 commented on #106
[code]

Source: https://travis-ci.org/proot-me/proot/builds/532081135#L727

[2019-06-11 00:48] oxr463 commented on #106
Posted on stackoverflow, (See: https://stackoverflow.com/questions/56535083/how-to-fix-segsegv-with-recent-kernel-and-seccomp).

[2019-06-17 17:14] chazanov commented on #175
@oxr463 In my dockerfile the compilation of proot always fails.
[code]
May you please fix this?

[2019-06-17 17:25] oxr463 commented on #175
I'm assuming that since you are commenting on this ticket, that you are trying to install PRoot on Void Linux, correct?

If so, you will need to reach out to the package maintainer for help. At the very least, it appears that he will need to update the sha256sum used in his package recipe.

[2019-06-20 11:51] jschultz opened #178 "Release tarball has changed?"
Sometime in the last few months the source [tarball](https://github.com/proot-me/proot/archive/v5.1.0.tar.gz) seems to have changed. I first noticed it when [void-linux](https://github.com/void-linux/void-packages) build script failed with a checksum error. It seems that the top level directory within the tarball has changed from PRoot to proot. Other than that everything is as it was.

This is st

[2019-06-20 18:02] oxr463 commented on #178
Possibly? The repository was renamed from PRoot to proot, but the old release files haven't been touched.

Hopefully we'll have another release here some time soon.

[2019-06-21 10:51] jschultz commented on #178
It looks like even old release files get changed to reflect the change of repository name. I guess downstream users will just have to adapt.

Looking forward to the new release!

On 21/6/19 2:02 am, Lucas Ramage wrote:

[2019-06-21 12:46] oxr463 commented on #178
Ah, that's interesting.

Glad to hear it!

[2019-06-21 12:46] #178 closed

[2019-07-07 19:15] Kilo-411 commented on #106
$ export PROOT_NO_SECCOMP=1
$ ./start-debian.sh
bash: xmalloc: .././shell.c:1709: cannot allocate 10 bytes (0 bytes allocated)
$ ./start-debian.sh
bash: xmalloc: .././shell.c:1709: cannot allocate 10 bytes (0 bytes allocated)
$
 I have no dir for the com.termux but I know I do
orginal code
$ ./start-debian.sh
proot info: vpid 1: terminated with signal 11

of course. been an issue every since I had

[2019-07-07 19:43] Kilo-411 opened #179 "Proot bug, No Disros Work"
$#76 port PROOT_NO_SECCOMP=1
$ ./start-debian.sh
bash: xmalloc: .././shell.c:1709: cannot allocate 10 bytes (0 bytes allocated)ll

  - Proot/Care version:
  - Kernel version:
  - Host distribution:
  - Guest distribution:

## Command Output

[code]

[2019-07-08 01:55] oxr463 commented on #179
Greetings,

It appears that you are using the termux version of PRoot; as such, this issue should really be opened there, https://github.com/termux/proot/issues

[2019-07-08 01:55] #179 closed

[2019-07-08 01:58] oxr463 commented on #179
See also: https://github.com/proot-me/proot/issues/106

[2019-07-14 08:21] ic3-chillz opened #180 "( Proot vpid error 11 )"
## at the very first it
.
$ ./start-debian.sh
$ proot vpid error 11. ; its not letting other script either

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Proot/Care version:
  - Kernel version:
  - Host distribution:
  - Guest distribution:

#176

[code]

-OR-

[Attached log]()

[2019-07-14 11:05] oxr463 commented on #180
Can you please provide more information? The issue template contains all the fields required. If you need any help gathering this, let me know.

[2019-07-14 11:19] ic3-chillz commented on #180
All the distro does this. I also get other error

$ ./start-backbox.sh
proot info: vpid 1: terminated with signal 11

$ ./start-ubuntu.sh
proot info: vpid 1: terminated with signal 7      $

[2019-07-14 11:32] oxr463 commented on #180
What are the scripts doing? How is PRoot being invoked?

[2019-07-14 11:43] ic3-chillz commented on #180
Export SECCOM 1st then i tried to make file .
. i really dont know im trying anything related to my issue

[2019-07-14 11:51] oxr463 commented on #180
Can you upload your scripts that you are trying to run?

[2019-07-18 09:26] zaoqi opened #181 "/host-rootfs"
Deleted

[2019-07-18 09:42] #181 closed

[2019-07-18 09:49] zaoqi opened #182 "proot: ./path/path.c:546: compare_paths2: Assertion `length1 > 0' failed."
## Steps to Reproduce the Problem

  1. `fakechroot fakeroot chroot . ./proot/src/proot -R alpine-minirootfs-3.10.1-x86_64`

## Specifications

  - Proot/Care version: commit 803e54d8a1b3d513108d3fc413ba6f7c80220b74
  - Kernel version: 4.19.56
  - Host distribution: manjaro
  - Guest distribution: alpine

[2019-07-18 09:51] zaoqi commented on #182
if `mkdir tmp`

[code]

[2019-07-18 11:07] oxr463 commented on #182
Interesting.. I'll look into it.

Thanks for providing such detailed debugging information!

[2019-07-25 14:35] dead-end commented on #12
I have tested the script. Replacing:
    `PATH=$PAD/tmppath:$PATH`
with:
    `PATH=$PWD/tmppath:$PATH`
fixes the issue.

[2019-07-25 15:00] oxr463 commented on #12
Interesting. I for one, never noticed that little typo.

[2019-07-26 02:04] oxr463 opened #183 "Digital Object Identifiers (DOI) for PRoot"
I'd like to cite PRoot in an academic setting.

See: https://guides.github.com/activities/citable-code

[2019-07-28 14:54] dead-end opened #184 "Several tests failed"
I have run the proot tests and several tests failed. The following test all exited with return code 182 and all have in common that proot traces a program, that itself traces an other program:

[code]
The following lines are the output of the test-d92b57ca.sh test with verbose flag:

[code]

The return code 182 comes from the FATAL() macro in the loader.c file. It is the EXECVE system call that fa

[2019-08-07 19:18] oxr463 opened #185 "Running PRoot via usermode x86 emulator (iSH) on iOS"
https://github.com/tbodt/ish

See also: https://github.com/proot-me/proot/issues/81, https://github.com/proot-me/proot/issues/155

[2019-08-14 02:12] sr229 commented on #106
Hey proot devs, if this helps, looks like Debian's version of `proot` works on 4.x kernels, worth looking for their patches?

[2019-08-14 02:12] sr229 commented on #106
Hey proot devs, if this helps, looks like Debian's version of `proot` works on 4.x kernels, worth looking for their patches?

[2019-08-14 11:24] oxr463 commented on #138
Nothing yet. Unfortunately, I haven't had much time for PRoot in awhile.

[2019-08-21 14:42] loveshack opened #186 "build failure on EL7 aarch64"
Building the current development source (6694d34c83c2b6f2d47686bbe70e828580df9b56) on RHEL7 aarch64 fails with errors like this.  It's OK on x86_64.

[code]
Full build log at https://copr-be.cloud.fedoraproject.org/results/loveshack/livhpc/epel-7-aarch64/01013968-proot/build.log.gz for a while.

[2019-08-21 18:05] oxr463 commented on #186
Are you cross-compiling or native?

[2019-08-21 18:09] oxr463 commented on #186
[log.txt](https://github.com/proot-me/proot/files/3526648/log.txt)

[2019-08-22 08:08] loveshack commented on #186
The build was native (on one of the Fedora build systems).

In case you look at the sibling failures on x86_64 in that attempt, at
least the epel-7 may be the result of a parallel make race, as it's
worked twice otherwise -- I'll try to check.

[2019-09-12 06:31] 5ghz opened #188 "Cannot install software via apt in proot environment"
## Expected Behavior
Install package via apt

## Actual Behavior
Can not install package via apt

## Steps to Reproduce the Problem

  1. Download TegraLinux  from [link](https://developer.download.nvidia.com/embedded/L4T/r32-2-1_Release_v1.0/Jetson-Nano-SDCard-Image/jetson-nano-sd-r32.2.1.zip)
  2. Unpack and mount in loop
  3. Run proot. proot -R /home/unknown/tegra_linux/  -q qemu-aarch64
  4.

[2019-10-02 03:35] #175 closed

[2019-10-11 14:08] basukon opened #190 "vpid 1: terminated with signal 7"
Im trying to use this proot version and also the termux proot fork inside the Linux On Dex environment (which is Samsungs environment to run Linux Desktops in android) to see if I can get better processes handling because triggers on apk alpinelinux or hooks on pacman archlinux aren't executing properly on the LinuxOnDesk chroot, so packages aren't executing pre/post instructions. So far I was abl

[2019-10-11 20:00] oxr463 commented on #190
Duplicate of https://github.com/proot-me/proot/issues/180

[2019-10-11 20:00] oxr463 commented on #180
Closing in favor of https://github.com/proot-me/proot/issues/190

[2019-10-11 20:00] #180 closed

[2019-10-13 18:40] basukon commented on #190
Just in case here is the verbose 9 output since I didn't noticed the -v flag:

[code]

[2019-10-17 19:26] probonopd opened #191 "Cannot compile software inside a proot environment"
## Expected Behavior

Can compile software inside a proot environment

## Actual Behavior

Cannot compile software inside a proot environment; build fails with error message

## Steps to Reproduce the Problem

###  1. Build with chroot (not proot) to verify that compiling works in general

[code]

###  2. Now build with proot and see it fail

[code]

## Specifications

  - Proot/Care version: v5.1

[2019-10-17 20:25] oxr463 commented on #191
Regarding other software, do they also depend upon that particular header as well?

[2019-10-23 06:38] probonopd commented on #191
In my build log I see:

https://travis-ci.com/probonopd/static-tools/builds/133127035#L511-L513

[code]

Could this be related to https://github.com/Hax4us/TermuxAlpine/issues/1?

Supposedly this was addressed in https://github.com/termux/proot/pull/17 but maybe it is still not fixed, as some comments suggest?

[2019-11-15 17:37] travarin commented on #111
Hi, is this still something you're interested in adding to the project? My partner and I from UT Austin would be interested in working on this for one of our classes.

[2019-11-15 19:31] oxr463 commented on #111
Yes please! Also, if you have any experience with seccomp, then please help!

See: https://github.com/proot-me/proot/pull/130

[2019-11-15 22:48] #177 closed

[2019-11-15 22:49] #165 closed

[2019-11-20 13:54] oxr463 opened #193 "Questionnaire for offering software to GNU"
# General Information
## Do you agree to follow GNU policies?
   If your program is accepted to be part of the GNU system, it means
   that you become a GNU maintainer, which in turn means that you will
   need to follow GNU policies in regards to that GNU program.
   (Summarized above, see maintainers document for full descriptions.)

## Package name and version:

## Author Full Name <Email>:

##

[2019-11-20 14:08] oxr463 commented on #193
I believe PRoot should become part of coreutils if possible, right along with `chroot`.

[2019-11-20 14:17] katakombi commented on #193
That would be amazing! :)

[2019-11-20 17:10] travarin commented on #111
Just to clarify, for libseccomp would we be implementing the tests under the TODO in #130?

[2019-11-20 18:40] oxr463 commented on #111
You mean these?

If so, the answer is yes; we need to be sure that PRoot will work properly regardless of kernel version or seccomp configuration.

[2019-11-25 21:02] oxr463 opened #194 "Implement vagrant for kernel-specific testing"
_Originally posted by @oxr463 in https://github.com/proot-me/proot/issues/111#issuecomment-556226326_

See: https://github.com/OpenVPN/openvpn/pull/45

[2019-11-25 21:03] oxr463 opened #195 "Implement libseccomp for syscall filtering"
_Originally posted by @oxr463 in https://github.com/proot-me/proot/issues/111#issuecomment-554496966_

[2019-11-25 21:40] #176 closed

[2019-12-04 13:41] chaitu-tk opened #196 "File locking using OFD Support is not working"
## Expected Behavior
fcntl + OFD based locking should work.

## Actual Behavior

fcntl + OFD locking fails causing an issue for some operations, the use case application is `sysrepoctl`. Is OFD support available in proot?

## Steps to Reproduce the Problem

Tricky to repro as it needs some custom steps, as the opensource version of sysrepo doesn't support Debian packaging yet.

  1.  Install sysre

[2019-12-04 14:03] oxr463 commented on #196
Excellent bug report.

[2019-12-06 19:44] eredisg commented on #194
I will take up this issue. According to @oxr463 via our private chat, we will want to implement CentOS, Debian, and Alpine vagrant boxes to start off with.

Please see: https://www.vagrantup.com/docs/virtualbox/boxes.html

[2019-12-10 16:08] seisdr opened #197 "Why it doesn't work"
![70534197-94325a80-1b6b-11ea-9a38-abbe9d5df2e8](https://user-images.githubusercontent.com/45742462/70546461-61df2800-1b80-11ea-9753-9b9db3f48125.png)
![70534209-9a283b80-1b6b-11ea-88d7-aba30198f0c3](https://user-images.githubusercontent.com/45742462/70546476-660b4580-1b80-11ea-8b6d-724cb5b50202.png)

[2019-12-10 16:42] rschutt commented on #197
Probably due to https://github.com/proot-me/proot/issues/106.  What is your kernel version?

[2019-12-10 16:45] seisdr commented on #197
[code]
Well the /bin/bash didn't work ..

[2019-12-10 17:45] oxr463 commented on #197
Hello,

You already posted to the correct project here, https://github.com/termux/proot/issues/85; the Termux fork has diverged a bit from here, and contains android-specific fixes.

[2019-12-10 17:45] #197 closed

[2019-12-13 22:55] oxr463 opened #198 "Remove auto-generated files from repository"
- [x] `doc/proot/man.1`
- [x] `doc/proot/rpm-spec`
- [x] `src/build.h`
- [ ] `src/cli/proot.h`
- [ ] `src/cli/care.h`
- [x] <s>`src/cli/cli.h`</s>

Make sure to add to `.gitignore`.

[2019-12-14 01:41] oxr463 opened #199 "Publish to GitHub Pages on commit"
- [ ] Generate website from documentation
- [ ] Push to <https://github.com/proot-me/proot-me.github.io>

[2019-12-14 02:12] oxr463 commented on #199
See: https://github.com/proot-me/proot/tree/fix-doc

[2019-12-14 03:12] eredisg opened #200 "Add "Compiling" section to the README"
A "Compiling" section should be added to the README to help guide new users and to make sure it is being installed correctly.

[2019-12-14 04:51] oxr463 commented on #200
The following command can be used to compile PRoot and CARE:

[code]

[2019-12-14 12:12] oxr463 commented on #198
Possibly add `pre-commit` hook for ensuring these compile correctly before allowing the user to commit.

[2019-12-14 18:53] #199 closed

[2019-12-15 14:34] oxr463 opened #201 "Move complex CI/CD steps to shell script"
- [x] gcov
- [x] pages
- [x] site

This will allow for more portable CI/CD configurations across various services, e.g. GitLab CI/CD, Travis.

[2019-12-16 00:19] oxr463 opened #202 "Enforcing time limits for test completion"
Currently, certain tests are failing when run via CI/CD pipelines due to the builds simply timing out. We should enforce a max time limit per each test that is run, and automatically cancel it and set it to failing if it exceeds the predefined threshold.

[code]

See: https://stackoverflow.com/a/5161258/8507637

[2019-12-17 17:33] #200 closed

[2019-12-17 18:49] eredisg commented on #200
Thank you!

[2019-12-20 13:39] #201 closed

[2019-12-20 13:58] oxr463 commented on #202
See also: https://github.com/proot-me/proot/blob/master/doc/howto-release.txt#L22

[2020-01-07 14:29] oxr463 opened #205 "Migrate to Python 3"
Python2.7 is deprecated.

See: https://github.com/proot-me/proot/blob/master/src/GNUmakefile#L18

[2020-01-07 16:45] oxr463 opened #206 "Document adding a new test"
See also: https://github.com/proot-me/proot/issues/164

[2020-01-07 16:53] oxr463 commented on #206
@emilio1625 does this help any?

[2020-01-07 16:58] oxr463 commented on #202
As a temporary workaround, one could find which tests are causing travis to timeout and skip them.

[2020-01-07 17:00] oxr463 commented on #185
This seems more appropriate for the blog

[2020-01-07 17:03] oxr463 commented on #198
The main issue is, these auto-generated files have been modified by various commits, and now contain code that is not in the files used to generate them. It will take a bit of work to figure out what those changes are and get them added to the proper file.

[2020-01-07 17:04] oxr463 commented on #194
@eredisg any progress on this one?

[2020-01-07 19:31] emilio1625 commented on #206
Hey thanks! this helps a lot

[2020-01-07 19:45] oxr463 commented on #206
Also, per the [release guide](https://github.com/proot-me/proot/blob/master/doc/howto-release.txt#L30),

If you aren't familiar with shellcheck, then check it out, https://www.shellcheck.net

[2020-01-07 21:27] christophe-lyon commented on #138
Ping?
Maybe you can explain me where/how syscalls are handled, so that I can have a look?

[2020-01-07 23:18] oxr463 commented on #138
I have not even begun to look at this yet. You might want to take a look at [`src/syscall/syscall.c`](https://github.com/proot-me/proot/blob/master/src/syscall/syscall.c)

[2020-01-08 14:12] oxr463 opened #207 "Google Summer of Code"
- [x] Mentor organizations must run an active open source or free software project.
- [x] Have produced and released software under an OSI approved license.
- [x] Must not be based in a country currently embargoed by the United States.

Source: https://summerofcode.withgoogle.com/terms/org

See also: https://google.github.io/gsocguides/mentor/notes-for-first-year-organizations

[2020-01-08 17:24] oxr463 commented on #207
Another alternative, is to present PRoot as a possible project for an existing organization such as one of the following:

- [ ] [Debian](https://summerofcode.withgoogle.com/archive/2019/organizations/4816120068964352/)
- [ ] [Fedora](https://summerofcode.withgoogle.com/archive/2019/organizations/6739854375780352/)
- [ ] [Gentoo](https://summerofcode.withgoogle.com/archive/2019/organizations/45082

[2020-01-08 19:22] oxr463 opened #208 "Debugging binaries within another sysroot on newer kernels"
We used proot and gdb to debug binaries within another sysroot. While it worked with the master branch and with an older kernel it doesn't work with a more recent kernel and/or this patch.

You can reproduce it with this command:
[code]

With an older kernel and the master branch it works fine and when the application throws a segmentation fault we can catch it in gdb.

With a more recent kernel a

[2020-01-08 20:40] oxr463 commented on #202
This is the offending test, [`test/test-a3e68988.c`](https://github.com/proot-me/proot/blob/master/test/test-a3e68988.c)

[2020-01-08 20:43] oxr463 commented on #206
Also, you can run the testsuite with `V=1` for verbose. That really helps, but it is very verbose..

[2020-01-09 19:54] #173 closed

[2020-01-10 17:25] #138 closed

[2020-01-13 02:15] oxr463 commented on #194
We do not need to create the base boxes, just use these:

- [ ] Alpine
- [ ] [CentOS](https://app.vagrantup.com/centos)
- [ ] [Debian](https://app.vagrantup.com/debian)

I also created this: https://app.vagrantup.com/proot-me.

[2020-01-13 02:58] oxr463 commented on #194
See also: https://blog.centos.org/2019/07/updated-centos-vagrant-images-available-v1905-01/

[2020-01-13 04:21] oxr463 commented on #194
Requires installing the following plugin:

- [vagrant-sshfs](https://github.com/dustymabe/vagrant-sshfs#getting-started)

[2020-01-13 04:24] oxr463 commented on #194
Mapping out specific dependencies across distributions, (See: https://github.com/proot-me/blog/blob/master/drafts/dependencies.md).

[2020-01-17 13:39] oxr463 commented on #195
Excerpts from an email with libseccomp maintainers.

Per Paul,

outside it's sandbox, and is running into problems that you are
attributing to seccomp?  Further, it doesn't look like proot itself is
using libseccomp but rather is creating its own seccomp filters.
Without taking a deep dive into proot and its seccomp filters, it is
hard to say what the exact problem may be.  Tracing can be difficul

[2020-01-19 23:27] seisdr opened #210 "Unsupported ptrace request number"
[code]

[2020-01-19 23:32] oxr463 commented on #210
Which version of proot? Which kernel? Which distribution? Without any of this information it is hard to help you.

[2020-01-19 23:46] seisdr commented on #210
Maybe because I'm trying to run proot under proot

[2020-01-20 00:19] oxr463 commented on #210
How are you invoking the parent instance? What guest rootfs are you using, if any?

[2020-01-20 00:58] seisdr commented on #210
Ubuntu 14
Maybe the problem due different architecture or qemu

[2020-01-20 01:00] oxr463 commented on #210
@seisdr Can you provide the command involving QEMU?

[2020-01-20 01:05] seisdr commented on #210
[code]

[2020-01-20 01:06] seisdr commented on #210
On same architecture it work but display nothing `proot ls ..etc`

[2020-01-20 01:14] oxr463 commented on #210
Okay, the Termux issue tracker is here: <https://github.com/termux/proot/issues>.

Also, since you are using QEMU for i386, you need to ensure that the guest rootfs is also i386, and not 64bit. How did you install the second instance of PRoot?

[2020-01-20 09:20] seisdr commented on #210
yea
Packages which request pid didn't work either
[code]

[2020-01-20 13:33] oxr463 commented on #210
There are known issues with this one, (See: https://github.com/proot-me/proot/issues/184).

[2020-01-21 18:48] seisdr commented on #210
[code]

[2020-01-21 18:49] seisdr commented on #210
Maybe root rights?

[2020-01-21 18:50] oxr463 commented on #210
I am confused, are you running as actual root, or emulated via `proot -0`?

[2020-01-21 18:58] seisdr commented on #210
When I emulate `proot -0`
[code]
Above outputs is with eltechs solution

[2020-01-21 19:35] seisdr commented on #210
Unsupported request number
Because I don't have root rights and it's and error

[2020-01-21 19:36] oxr463 commented on #210
You should never need root privileges with PRoot; that is kind of the whole point.

[2020-01-21 19:39] seisdr commented on #210
But can I run proot under proot?
Check this:
[code]
[code]

[2020-01-21 20:29] oxr463 commented on #210
@seisdr I don't think so.

[2020-01-21 20:33] seisdr commented on #210
Well I running out of ideas try running x86 proot under arm64 proot and let's see the results

[2020-01-21 20:34] oxr463 commented on #210
@seisdr Do you need proot to run qemu-i386-static? Why not run it directly?

[2020-01-21 20:59] seisdr commented on #210
You're right I completely forgotten
[code]

[2020-02-05 22:25] erdnaxeli opened #211 "mv does not work on binded folder"
Hi,

I use a very old Linux (3.14) on a very old Debian (7) for… some reasons. I am not root on it. I expected to use proot to be able to do thing on it (every package is years outdated), but it seems that mv does not work.

## Expected Behavior

mv work

## Actual Behavior

mv does not.

## Steps to Reproduce the Problem

  1. proot -b somedir:/somedir
  2. touch a && mv a /somedir

## Specificat

[2020-02-12 00:18] breaktime1903 commented on #211
Are you joking? You are using Debian 7 which is very old. You had better upgrade the system to the latest version.

[2020-02-12 11:04] erdnaxeli commented on #211
That's sadly not an option.

[2020-02-12 12:32] oxr463 commented on #211
I don't think Debian 7 is too old for PRoot. Especially since there are some issues with running on newer kernels at the moment.

[2020-02-13 14:50] breaktime1903 commented on #211
However,it seemed that the kernel is too old,or the folder is read-only,try to use chmod at first.(I'm sorry that I can't speak English well.)

[2020-02-13 14:52] oxr463 opened #212 "Officially supported kernel versions"
The documentation refers to the following versions of slackware:

- Slackware 8.0
- Slackware ARM 12.2

See: https://en.wikipedia.org/wiki/Slackware#Releases, https://arm.slackware.com/releases

[2020-02-13 16:43] ferfebles opened #213 "Warning: ptrace(POKEDATA): I/O error in termux-ubuntu"
## Expected Behavior
Press TAB key inside shell and show the completion list files and folders

## Actual Behavior
Press TAB and a warning is shown

## Steps to Reproduce the Problem

  1. Install Termux in an android device
  2. Install Ubuntu inside termux
  3. Launch ubuntu and press TAB key

## Specifications

  - Proot/Care version: 5.1.0
  - Kernel version: Android 8.1.0, kernel 3.18.14
  -

[2020-02-13 17:04] oxr463 commented on #213
See: https://github.com/termux/proot/issues?q=is%3Aissue+ptrace%28POKEDATA%29%3A+I%2FO+is%3Aclosed

The termux fork has a lot of android-specific fixes that have not been incorporated here.

[2020-02-13 17:04] #213 closed

[2020-02-14 19:56] oxr463 commented on #212
See also: https://github.com/proot-me/blog/blob/master/drafts/dependencies.md

[2020-02-22 15:20] oxr463 commented on #106
http://man7.org/linux/man-pages/man2/seccomp.2.html

[2020-02-29 03:08] ElectricianTrevor commented on #129
Hello, I have a same problem when I using alpine proot. Though I don't why this warning happened, but I have solved it by using
[code]
after installing tar, everything is ok.

[2020-02-29 04:14] oxr463 commented on #129
Yeah, that's what happened to me as well.

[2020-02-29 12:02] ElectricianTrevor commented on #129
Not only tar, but also openjdk (musl) on alpinelinux. In my case, it was alpine's problem, not proot's. Because I installed tar in alpinelinux alone and it didn't crash; In addition, after installing glibc on alpinelinux v3.9 (which obviously contradicts the 3S principle), [Glibc](https://github.com/sgerrand/alpine-pkg-glibc) I was able to install openjdk as normal.

[2020-02-29 12:04] oxr463 commented on #129
@ElectricianTrevor What is the 3S principle? Can you reproduce on Debian? If so then I might suspect PRoot.

[2020-02-29 12:10] ElectricianTrevor commented on #129
Small. Simple. Secure.🤣
It is an interesting [story](https://img-blog.csdnimg.cn/20190430063510562.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9saXVtaWFvY24uYmxvZy5jc2RuLm5ldA==,size_16,color_FFFFFF,t_70)

[2020-02-29 12:12] oxr463 commented on #129
@ElectricianTrevor Oh gotcha. Well I mean that makes sense to me.

[2020-02-29 12:17] ElectricianTrevor commented on #129
Well, I mean installing glibs on alpine is against 3S🤣. Do you have any idea about solving the problem? I have no idea now.

[2020-02-29 12:34] ElectricianTrevor commented on #129
And what does it mean

[2020-02-29 12:36] ElectricianTrevor commented on #129
And what does it mean?

I'm not sure about that

[2020-02-29 15:09] oxr463 commented on #129
*If* Debian has the same problem, then it isn't a libc issue.

[2020-03-01 04:05] ElectricianTrevor commented on #129
Well, I should now be able to confirm that it's the poot problem.
Although I didn't try to run Debian, I chroot Alpine on my computer.
[code]
And I installed OpenJDK8 on my alpine
[code]

[2020-03-15 08:50] 0pq76r commented on #182
I had a similar issue. The problem is, that the `detranslate_path` function somehow is called with empty strings for `path` and/or `t_referrer`.

Also `length1` and `length2` are of type size_t, thus, unsigned integers and by the looks of it the case `length1==0` is supposed to be handled in the `if` statement immediately after the assert.

There's probably a better way to fix it, but this works f

[2020-03-25 02:56] 3dc1d3 commented on #211
I have the same issue, it seems one of the paths must be absolute for it work:
[code]
The last couple of lines reproduce OP's commands which works fine for me - so either OP made a typo or I have a closely related but not identical bug.

This is on a very recent Void Linux install inside VirtualBox using `qemu-arm` layer:
[code]

This is causing an issue updating system packages, which then leaves

[2020-03-25 13:41] erdnaxeli commented on #211
I just checked it again, i did not made a type :p. I tried with the absolute path for the file to move, I got the same error.

[2020-03-26 00:08] 3dc1d3 commented on #211
Additionally I just found that globs don't work either:

[code]

[2020-03-30 16:41] oxr463 commented on #212
[![Alpine Linux](https://img.shields.io/badge/linux--vanilla- 4.19.98--r0 -yellow?style=flat-square)](https://pkgs.alpinelinux.org/package/v3.10/main/x86_64/linux-vanilla)

[2020-03-30 17:17] #212 closed

[2020-04-01 16:54] #205 closed

[2020-04-02 12:03] oxr463 commented on #127
[Unreleased](https://github.com/proot-me/proot/compare/v5.1.0...HEAD)

See: https://github.com/olivierlacan/keep-a-changelog/blob/master/CHANGELOG.md

[2020-04-02 17:45] #202 closed

[2020-04-14 10:53] cdown opened #217 "proot detection"
Hi there,

I work on the systemd project, and as of recently am also a proot user. I'm wanting to add proot detection to `systemd-detect-virt`, which despite the name also detects various forms of containerisation and chrooting. Currently it doesn't detect anything inside a proot:

[code]

What's the recommended way to detect a prooted container, as opposed to say, a chrooted container? I notice t

[2020-04-14 11:26] oxr463 commented on #217
I don't think container is the right terminology here.

That's a good question!

Here are some questions for you:

- What are the benefits of providing such a feature?
- What are some standard methods used by other projects?
- Would you be willing to submit a PR for us? 😄

I think it should work similar to how `chroot` works now, (See: https://www.freedesktop.org/software/systemd/man/systemd-detec

[2020-04-14 11:45] cdown commented on #217
Well, "container" as terminology is meaningless anyway, since it could mean just about anything ;-)

What terminology is more accurate in your eyes? Just "proot"?

One for me is that I can conditionally do things based on whether I am in proot or not. At its most basic, I might choose to indicate that I am in a different environment in my shell prompt. I may also choose to take some different acti

[2020-04-14 11:48] oxr463 commented on #217
Let's do the `/proc/proot` approach. I think it makes sense.

[2020-04-14 11:48] cdown commented on #217
Great! I'll submit a PR soon, thanks for taking a look :-)

[2020-04-14 17:31] cdown commented on #217
I just thought that we could probably do this transparently using `TracerPid`. What do you think about something like this?

https://github.com/cdown/systemd/commit/26610095b8394e1fd70af06233dd07a9ca55dc70

[2020-04-14 17:33] oxr463 commented on #217
Looks good to me!

[2020-04-14 17:34] cdown commented on #217
Great! I'll submit systemd PR now, and we can keep this open for tracking if you like.

[2020-04-14 18:58] #217 closed

[2020-04-14 19:45] oxr463 commented on #127
Please see: https://github.com/proot-me/proot/releases/tag/v5.2.0-alpha

[2020-04-14 19:45] #127 closed

[2020-04-14 21:29] #157 closed

[2020-04-14 22:15] #183 closed

[2020-04-15 11:24] cdown commented on #217
Hey, how would you like this to be referred to in the documentation? Here are some examples from others:

[code]

[2020-04-15 11:36] oxr463 commented on #217
I think this one matches the best.

Otherwise,

[code]

[2020-04-15 11:39] cdown commented on #217
`-r` isn't possible right now for... reasons (chroot mode basically only does one thing and requires root, which defeats the point of proot), let's stick with container for now. We already use it as a bucket for "not-quite-a-container" stuff like WSL, so I don't think it's dissonant with the context.

[2020-04-15 11:40] oxr463 commented on #217
@cdown Okay, sounds good!

[2020-04-15 11:42] cdown commented on #217
@oxr463 I think I edited the suggested doc after you commented, can you eyeball it? :-)

[2020-04-15 11:50] oxr463 commented on #217
Can you send the link? The site is still the same.

[2020-04-15 11:50] cdown commented on #217
Oh, I just mean this suggested snippet:

[code]

[2020-04-20 19:20] nathaneltitane opened #222 "typo in footer when using proot --help"
This is a small report to address a tiny typo in the proot footer/about

the word patches is missing an 'e'.

--

Visit http://proot.me for help, bug reports, suggestions, patch_s, ...

Thank you for this amazing utility!

[2020-04-20 19:43] oxr463 commented on #222
Source: https://github.com/proot-me/proot/blob/master/src/cli/proot.h#L79

[2020-04-26 00:10] oxr463 commented on #191
Reference:

- https://git.alpinelinux.org/aports/tree/main/busybox/busybox.trigger

- https://git.alpinelinux.org/aports/tree/main/ca-certificates/ca-certificates.trigger

[2020-04-26 16:54] oxr463 commented on #191
@probonopd can you test again with the latest tagged release?

Also, I would not recommend using any other source besides this repository, since many of the forks have diverged a bit in the last few years. The exception being termux/proot, which has been maintained very well; however, even it contains many Android-specific patches.

[2020-04-28 21:10] probonopd commented on #191
Is there a binary available for x86_64? Thanks.

[2020-04-28 21:13] oxr463 commented on #191
Try [this one from GitLab](https://gitlab.com/proot/proot/-/jobs/510850865/artifacts/raw/dist/proot)

[2020-05-03 04:53] krugerheadshot opened #223 "Is it possible to have real superuser access on PRoot?"
Hi Dev and PRoot Users!

I was wondering if we can use real root access on PRoot because a few programs, no matter what, require superuser access.Of course fakeroot can come into play but this just doesn't work then! You can't use tools like Wireshark to their full extent!

I have seen an option to use real root in PRoot on AnLinux which installs the PRoot of several distros on Termux. I am using

[2020-05-03 08:35] bew commented on #223
Why do you want to use proot then if you can have the normal root tools?

[2020-05-03 09:17] krugerheadshot commented on #223
Because I am using an old x86 Android 4.4.2 tablet which doesn't got much support from almost no develovers except Corbin Champion. I use Termux on my phone but I can't use it on my tablet which is what I wanted. PRoot is like a sandbox. I am also unable to use Linux Deploy or Complete Linux Installer on my tablet which could have run the Chroot.

Now I have no choice but to get real root access o

[2020-05-03 11:03] oxr463 commented on #223
This is out of scope for PRoot. The whole purpose of the tool is to grant the ability for unprivileged setup for `chroot`,

If you need support for trying to figure out how to use PRoot then feel free to either open a new issue with more details regarding any errors you are experiencing, or join our Gitter channel if you would like to chat.

[2020-05-03 11:03] #223 closed

[2020-05-03 14:25] #194 closed

[2020-05-04 13:20] Kitsumi opened #225 "Proot freezing when ran in a Bash script"
I'm using proot in a bash script to do some extra setup in an ARM environment.
It seems to freeze at the end of the script though.

My host script calls proot with:
[code]

My `build-stage2.sh` file is: https://gist.github.com/Kitsumi/e0b27b1730ae9f7cd816a65979aa62c5

I've tried using `#!/usr/bin/bash` and `#!/bin/bash` in build-stage2.sh as well.

## Specifications

  - Proot/Care version: Proot

[2020-05-05 16:03] virtualstaticvoid opened #227 "Running `proot` on Heroku"
## Backstory

I maintain the opensource [Heroku R buildpack](https://github.com/virtualstaticvoid/heroku-buildpack-r). The process of deploying and running R on Heroku is fairly complex, especially since Heroku doesn't permit `apt-get` or anything requiring `root` for obvious reasons and runs a very tighly locked down Ubuntu. This has presented some unique challenges, especially since the deploy p

[2020-05-08 18:33] oxr463 commented on #227
Instead of the `-S` flag, you might want to use `-r`, `-b`, and `-0` separately. Check the examples for more information.

[2020-05-11 08:39] virtualstaticvoid commented on #227
Hi @oxr463,

Thanks for looking into this!

I've taken your suggestion and tried [using `-r`, `-b` and `-0` separately](https://github.com/virtualstaticvoid/heroku-proot-poc/commit/f2d0f66027a84243577d1cf299d5d3391e3c1261), but I received the same error.

I started with the bindings as in `recommended_su_bindings`, but removed `$HOME` as this is `/app` on Heroku and I need the build directory to b

[2020-05-11 15:02] oxr463 commented on #227
I would also try the latest build:

- https://proot.gitlab.io/proot/bin/proot
- https://proot.gitlab.io/proot/bin/proot.md5sum
- https://proot.gitlab.io/proot/bin/proot.sha256sum

[2020-05-11 16:21] virtualstaticvoid commented on #227
Okay, I've tried with the latest build, and I get the same error.

I'm completely out of my depth on the low levels of Linux and how `proot` works, but I started looking at the source code, and figured it must be failing on the call to [`ptrace` in `src/tracee/event.c`](https://github.com/proot-me/proot/blob/master/src/tracee/event.c#L77).

I did some googling on `ptrace` and Linux hardening as I

[2020-05-11 21:06] oxr463 commented on #227
Wow, really nice find! Yeah, I am afraid that PRoot requires ptrace in order to function.

[2020-05-23 19:46] remexre commented on #190
I'm getting same behavior on Manjaro on a Pinebook Pro (aarch64 as well). After building proot 5.2.0 alpha from source (modified installation instructions slightly by changing `make -C src loader.elf loader-m32.elf build.h` to `make -C src loader.elf build.h`):

[code]

[2020-05-31 14:38] katakombi commented on #106
No idea if that will be helpful, but just fyi:
https://www.phoronix.com/scan.php?page=news_item&px=Linux-Syscall-Isolate-Memory

[2020-06-09 19:32] #198 closed

[2020-06-09 19:35] #222 closed

[2020-06-10 17:00] Flytreels opened #229 "Fatal error in Ubuntu and Debian"
## Expected Behavior

## Actual Behavior
Unlimited errors when installing packages using apt:proot warning: unknown syscall 278

Running Ubuntu apt without ROOT gives an error: root@localhost:/root# neofetch
 proot warning: unknown syscall 278

## Specifications

  - Proot/Care version: 5.1.1-static
  - Kernel version: 3.10

[2020-06-15 19:48] oxr463 commented on #195
See: https://github.com/proot-me/proot/search?q=seccomp.h&unscoped_q=seccomp.h

[2020-06-30 11:11] penn5 commented on #229
What architecture are you running on?

[2020-06-30 11:15] penn5 commented on #227
To solve your actual problem, you could just use a Dockerfile - https://devcenter.heroku.com/articles/build-docker-images-heroku-yml

[2020-06-30 11:29] virtualstaticvoid commented on #227
Yeah, I've done that.
 https://github.com/virtualstaticvoid/heroku-docker-r

However, not everyone wants to use Heroku's container stack for various reasons.

A plus for the traditional stack is it allows for the use of multiple buildpacks, which makes things much easier; particularly for data science type workloads which use R together with other languages such as Python, Java and Ruby.

This of

[2020-06-30 14:04] Flytreels commented on #229
arm64

[2020-07-01 07:39] penn5 commented on #227
I think heroku is specially set up so you can run docker but can't run anything else. So you can't ptrace.

[2020-07-01 08:53] Flytreels commented on #229
arm64

[2020-07-05 23:52] Flytreels opened #231 "Unable to start ssh service"
## Expected Behavior

## Actual Behavior

Unable to start SSH service, error
 proot warning: unknown syscall 278
....
## Specifications

  - Proot/Care version: 5.1
  - Kernel version: 3.10
  - OS: Android 9 arm64

## Command Output

[code]

-OR-

[Attached log]()

[2020-07-06 12:08] oxr463 commented on #231
@Flytreels greetings! Are you using a version of PRoot that you have compiled yourself, i.e., from this repository? Or are you using the Termux fork? If so then you should file this issue at, github.com/termux/proot/issues.

[2020-07-07 10:36] Flytreels commented on #231
Official static version

[2020-07-07 11:01] oxr463 commented on #231
https://github.com/proot-me/proot/blob/master/src/syscall/sysnums-x86_64.h#L282

https://github.com/proot-me/proot/blob/master/src/syscall/sysnums-arm64.h

[2020-07-08 08:50] Flytreels opened #232 "How can I add talloc?"
## Expected Behavior
I am a novice, and I have failed before
I need help,please.
## Actual Behavior

Can't compile proot in Termux

  - Proot/Care version:
  - Kernel version:
  - Host distribution:
  - Guest distribution:

## Command Output

[code]

-OR-

[Attached log]()

[2020-07-08 08:54] #231 closed

[2020-07-08 08:54] Flytreels commented on #231
yes

[2020-07-08 11:54] oxr463 commented on #232
Greetings,

Termux maintains their own fork, (See: https://github.com/termux/proot). However, to answer the question you might want to take a look at their build recipe, (See: https://github.com/termux/termux-packages/blob/master/packages/proot/build.sh).

Specifically, you will need to install `pkg install libtalloc-dev`.

[2020-07-08 14:06] Flytreels commented on #232
Thank you very much!

[2020-07-08 14:07] #232 closed

[2020-07-14 18:03] rossyeager commented on #188
Has there been any progress here? This seems like a pretty strong requirement?

[2020-07-16 22:48] tmm1 commented on #75
@cedric-vincent What is the state of your [`position_independant`](https://github.com/proot-me/proot/compare/position_independant) branch?

[2020-07-21 12:44] mboisson commented on #106
Hi. This happens with the newest CentOS7 kernel.

[code]

[2020-07-21 14:10] katakombi commented on #106
Hi @mboisson can you also try the recently released 5.2.0 alpha version? It solved many issues for me, however, I am running newer kernel versions.

[2020-07-31 01:51] #210 closed

[2020-08-02 18:50] sudomain commented on #217
Unrelated to the systemd issue, but posting this here because this is one of the top search engine results for `detect if in "proot"`:

pgrep has a `--session` option and when `pgrep --session 0` is used it finds processes of the current session. Therefor, `pgrep --session 0 proot` will find proot processes running in the current session.

[2020-08-04 01:02] PhysixProject opened #233 "Build failure due to undefined references to talloc"
## Expected Behavior
Complete compilation

## Actual Behavior
Fails to build due to undefined references to talloc (which is present on the system)

## Steps to Reproduce the Problem

 1. make -C src loader.elf loader-m32.elf build.h
 2. make -C src proot care

## Specifications

  - Proot/Care version: Master branch commit f0e3bfc5e621838d1ae4dce85e5fb2407a72cf11
  - Kernel version:5.7.8
  - Host

[2020-08-04 02:00] oxr463 commented on #233
Looks like some dependencies are missing. Can you provide the output from yum showing all installed packages?

[2020-08-04 03:19] PhysixProject commented on #233
https://pastebin.com/4sRvMgGL

[2020-08-14 01:25] #229 closed

[2020-08-29 20:26] deliciouslytyped opened #234 "The manual link on the website 404s"
https://raw.githubusercontent.com/proot-me/proot/master/doc/proot/manual.txt at the bottom of https://proot-me.github.io

[2020-08-29 20:28] deliciouslytyped commented on #234
Should be `.rst`.

[2020-08-30 13:30] #234 closed

[2020-09-09 16:22] seisdr opened #235 "virtual memory feature?"

[2020-09-09 18:38] oxr463 commented on #235
How would this work? Please clarify.

PRoot uses libtalloc for memory management already.

[2020-09-09 18:42] seisdr commented on #235
like if I want to run a command with a specific amount of ram

[2020-09-10 01:44] oxr463 commented on #235
To limit the memory usage?

[2020-09-10 01:45] seisdr commented on #235
yes

[2020-09-15 21:20] GTRI-nathan commented on #190
Just a quick note - I had this too, and had to use the environment variable PROOT_NO_SECCOMP=1 to progress. (When trying to debug it in gdb, it printed out the warning message "It seems your kernel contains this bug: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1202161 To workaround it, set the env. variable PROOT_NO_SECCOMP to 1." I was using Centos7, so I guess I had an old kernel.

[2020-10-15 00:49] kodieross2150 opened #236 "Proto"

[2020-10-15 00:49] #236 closed

[2020-10-16 13:49] mralusw commented on #146
Proot is a wrapper, and thus much closer to a shell. The important thing would be to reproduce transparently the WIFSIGNALED, WTERMSIG, WIFEXITED, WEXITSTATUS of the child process.
This can be accomplished by checking whether the child exited normally (and if so exit with the same status) or was killed by a signal (and if so kill the proot process with the same signal).

Failing that, the 128 - SI

[2020-10-16 14:29] mralusw commented on #146
If you lose the normal-exit / signaled status of the process and the signal number (if any), the only option for me is to wrap the child process in a wrapper (say w1) that saves WIFSIGNALED, WTERMSIG, WIFEXITED, WEXITSTATUS to a temporary file, call that wrapper from proot, then parse the temporary file in yet *another* wrapper.

Which makes little sense, since proot should be a transparent wrappe

[2020-11-27 23:33] josch commented on #156
The problem is no more. I bisected Debian unstable to find out that the problem disappeared when pam 1.3.1-1 was uploaded at timestamp `2019-02-12 16:14:58+00:00` and replaced pam 1.1.8-4. So this indeed seems to have been some pam problem and some change in pam from 1.1.8 to 1.3.1 fixed the issue.

[2020-11-27 23:33] #156 closed

[2020-12-15 23:37] liwson opened #238 "Proot"
Proot

[2020-12-16 00:15] #238 closed

[2020-12-25 07:19] DavHau opened #239 "Where to find static builds for various platforms"
As stated on the [downlaods section of the website](https://proot-me.github.io/#downloads), the static builds found on https://github.com/proot-me/proot-static-build/releases are outdated.

As an alternative it states: https://gitlab.com/proot/proot/pipelines

But it seems like the gitlab pipeline only builds for x86_64.
Where can I find builds for other platforms?

All of that wouldn't be too muc

[2020-12-25 11:02] oxr463 commented on #239
See: https://github.com/proot-me/proot/blob/master/doc/howto-release.rst

There is a section on static binaries.

[2020-12-26 18:42] DavHau commented on #239
Thanks for the link.
Does that mean that proot maintainers are not interested in providing various builds themselves?
It would be nice to have something similar to https://github.com/proot-me/proot-static-build which is constantly updated.

One can find static builds on some package systems like alpine. But those often seem to only for for the specific distro. If I run this on debian, it crashes w

[2020-12-26 19:20] oxr463 commented on #239
@DavHau Not at this time. Perhaps this issue can serve as a placeholder to add previous versions to the corresponding GitHub release.

I was very involved with the alpine package, since I'm a package maintainer for that distribution as well. The debian package is old. If you are on Android, I would try the termux fork, since they have binary packages for ARM variants.

This project needs serious h

[2020-12-29 03:49] oxr463 commented on #225
@Kitsumi which command is it freezing on? Perhaps you could put something like this before each step:

[code]

[2021-01-21 05:04] rofl0r opened #240 "build error due to inclusion of non-standard header sys/queue.h"
on musl libc, there is no sys/queue.h, as it's not a standard header.
it's more of a standalone library, and license incompatible at that, so musl can't just pick the BSD one and ship it.

[code]

the header should be copied into the source tree and referenced from there, e.g. `#include "somedir/queue.h"` rather than via `<sys/queue.h>` and it should not be assumed to be available everywhere.

it

[2021-01-21 05:18] rofl0r commented on #240
it's even worse than that. after installing queue.h from FreeBSD:

[code]

it seems the CIRCLE stuff is only defined in the netbsd version.

[2021-01-21 05:33] rofl0r opened #241 "README mentions dependency on uthash, but there is none"
## Expected Behavior

Readme accurately describes dependencies.

## Actual Behavior

It doesn't. Actually i wasted about 15 mins clicking around and reading commit histories of both proot and uchash to find out which version of uthash would be necessary, as they're in the process of refactoring their API since 2.5 years.

## Steps to Reproduce the Problem

browse to proot repo, read README.

[2021-01-21 18:29] oxr463 commented on #240
PRoot will never run on FreeBSD. It explicitly mentions in the README.md file that it is Linux-only at this point.

If you're trying to build on musl, try taking a look at the APKBUILD for Alpine Linux (https://git.alpinelinux.org/aports/tree/testing/proot/APKBUILD).

I also wrote this blog post on dependencies (https://proot-me.github.io/blog/dependencies).

Does that help?

[2021-01-21 18:31] oxr463 commented on #241
Here are the dependencies required to build on various distributions (https://proot-me.github.io/blog/dependencies). If you would like to amend the README.md file, feel free to submit a PR. Or, let me know here in this issue what you think should be improved and I can update it.

[2021-01-21 19:51] rofl0r commented on #241
well uthash is listed there as a dependency, but i didn't have uthash installed and it built without it just fine. the page looks generally bogus as it lists e.g. clang as a dependency, and then gcc too. really any compiler should do, and coreutils etc are needed for everything really, so there's no need to mention them.

[2021-01-21 19:55] rofl0r commented on #240
i already got it to build (here is recipe: https://github.com/sabotage-linux/sabotage/commit/cda508d7cc181244d6e27ef90672102ff0c34963 ), thanks. what i'm mentioning is that it would be trivial to add the specific version of the BSD header sys/queue.h that's needed to the source tree of proot itself, rather than relying on that the target linux distribution provides exact that version.

[2021-01-21 22:04] oxr463 commented on #241
Were you building on one of the distributions listed? If so, then I would be surprised to see it build without that package.
Users have asked for explicit dependencies in the past (yes, the compilers), therefore, they have been added to the list.

[2021-01-22 02:59] rofl0r commented on #241
i'm 100% certain i don't had uthash installed because i'm the author of my own distro and uthash isn't packaged so far. the build of proot succeeded without any uthash.

there are only 3 possibilities:
- either the uthash dependency was removed at some point,
- its sources have been added to proot,
- or they're only required for the python extension stuff which i didn't build.

you're not the orig

[2021-01-22 04:22] oxr463 commented on #241
A quick search in the code reveals the following:

[code]

CARE is basically it's own program in a way. It was written by the original author. That line was added in 9f5eeb72.

You are free to package whatever you'd like, but that still doesn't mean uthash isn't a dependency.

I am closing this issue since I don't feel like this conversation is contributing anything benefitial to the project. Feel

[2021-01-22 04:22] #241 closed

[2021-01-22 04:26] oxr463 commented on #240
Most Linux distributions already provide this. It would be trivial for you to create a separate package for this header, similar to how Alpine does it (See: https://pkgs.alpinelinux.org/package/edge/main/x86_64/bsd-compat-headers).

[2021-01-22 04:26] #240 closed

[2021-01-22 04:31] oxr463 commented on #103
Closing since the portmap extension written by @vincenthage has already been merged.

[2021-01-22 04:31] #103 closed

[2021-01-22 13:46] rofl0r commented on #241
ah, interesting. turned out i had a bug in my recipe so only the first make target passed to the function mk_target was actually passed to make. so i guess i was lucky since i only wanted proot anyway and i certainly didn't want to install the unspecified version of uthash, as, as i mentioned, uthash is a moving target. they're changing their API since 2.5 years and the homepage links to a tarball

[2021-01-22 18:05] oxr463 opened #242 "Vendored dependencies"
_Originally posted by @rofl0r in https://github.com/proot-me/proot/issues/241#issuecomment-765407111_

[2021-01-24 09:30] V6ser commented on #182
Still not fixed as of latest version.

[2021-02-12 13:29] eebssk1 commented on #174
Closed due to inactivity (historitic issues cleanup).

Anyway it looks like pam has changed a lot and I'm currently not using proot...

[2021-02-12 13:29] #174 closed

[2021-02-15 04:47] nathanshearer opened #243 "unable to make the process undumpable"
## Expected Behavior
I should be able to run sftp-server inside a proot environment. This is a requirement to mount a folder via sshfs that is exposed via an ssh server running inside a proot environment.

## Actual Behavior
Ubuntu 20.04:
# /usr/lib/sftp-server -e -l DEBUG
unable to make the process undumpable
Gentoo:
# /usr/lib64/misc/sftp-server -e -l DEBUG
unable to make the process undumpable

[2021-02-15 13:01] oxr463 commented on #243
What command-line options were used when invoking PRoot?

[2021-02-15 17:06] nathanshearer commented on #243
I used the standard termux proot-distro login for ubuntu-20.04 which results in:
`proot --bind=/vendor --bind=/system --bind=/data/data/com.termux/files/usr --bind=/apex --bind=/storage/self/primary:/sdcard --bind=/storage --bind=/data/data/com.termux/files/home --bind=/data/data/com.termux/cache --bind=/data/dalvik-cache --bind=/data/data/com.termux/files/usr/var/lib/proot-distro/installed-rootfs

[2021-02-17 13:04] Kamilcuk opened #244 "Please add a link to release of proot from gitlab-pages"
The current site on https://proot-me.github.io/#downloads mentions https://github.com/proot-me/proot-static-build/releases that is old and also gitlab-ci/cd stuff is mentioned.
Please consider adding to the site somewhere here https://github.com/proot-me/proot-me.github.io/blob/master/index.html#L171 just a direct link to `https://proot.gitlab.io/proot/bin/proot` - users can just `curl -L 'https:/

[2021-02-18 16:41] MichaelCurrin opened #245 "Add link to repo from docs site"
I was on

https://proot-me.github.io/

And though it would be nice to have a GitHub link. Like as a GitHub icon in the menu button. Or as badge on its own row.

[2021-02-18 16:41] MichaelCurrin commented on #245
Example of icon

<img width="910" alt="Screen Shot 2021-02-18 at 6 40 52 pm" src="https://user-images.githubusercontent.com/18750745/108390000-e31c5b00-7218-11eb-9b1a-b0e2905ed48e.png">

[2021-02-18 16:42] MichaelCurrin commented on #245
Or banner.

<img width="1145" alt="Screen Shot 2021-02-18 at 6 41 57 pm" src="https://user-images.githubusercontent.com/18750745/108390129-047d4700-7219-11eb-88b4-5086f0893100.png">

[2021-02-18 16:42] MichaelCurrin commented on #245
Here are 3 markdown badges which you can use. They use shields.io

[code]

[![proot-me - proot](https://img.shields.io/static/v1?label=proot-me&message=proot&color=blue&logo=github)](https://github.com/proot-me/proot)
[![stars - proot](https://img.shields.io/github/stars/proot-me/proot?style=social)](https://github.com/proot-me/proot)
[![forks - proot](https://img.shields.io/github/forks/proot-me/

[2021-02-18 16:55] oxr463 commented on #245
Would this be in the downloads section?

https://proot-me.github.io/#downloads

[2021-02-19 20:34] MichaelCurrin commented on #245
The one page site is intimidating to scroll through so I'm worried it won't get found there.

A GitHub link in the menu bar at the very top of the site like here will be effective.

https://babeljs.io/

I found this tool because of a StackOverflow asking for contributors, so if you want to gain contributors it should be quick to get to the code to see what the repo is made of an its popularity. Ev

[2021-02-23 16:28] monkeyu opened #246 "Proot"
-h

[2021-02-23 16:29] monkeyu commented on #246
Hello word

[2021-02-23 16:32] #246 closed

[2021-03-14 09:17] nathanshearer commented on #239
So that documentation on building static binaries is nice, but what kind of an environment should this be run under? I tried Gentoo linux, but a static version of talloc is not in the repository.

[code]

Should I prop up an entire Ubuntu vm? Or something else?

[2021-03-14 12:03] EricHripko opened #248 "32-bit executables terminate with SIGSEGV/11 on 64-bit host"
## Expected Behavior
32-bit executables can be ran under `proot` alongside 64-bit ones on a 64-bit host.

## Actual Behavior
32-bit executables terminate with SIGSEGV/11:
[code]

## Steps to Reproduce the Problem

- Create the following under `32.Dockerfile`:
[code]
- Run the build: `docker build -f 32.Dockerfile .`
- Observe the failure, as discussed in _Actual behavior_

In comparison, the follo

[2021-03-14 12:18] oxr463 commented on #239
You could use Ubuntu if you like.

Here is a blog post about static aarch64 binaries from Alpine, https://github.com/proot-me/blog/blob/master/posts/alpine-aarch64.md

[2021-03-17 04:02] nathanshearer commented on #239
Thanks, I finally managed to get static binaries for aarch64 arm64 compiled. Steps for Ubuntu are below:

**Setup a working aarch64 arm64 environment**
Such as: https://cdimage.ubuntu.com/releases/20.04.2.0/release/ubuntu-20.04.2-preinstalled-server-armhf+raspi.img.xz

**Install Dependencies**
`apt update`
`apt full-upgrade`
`apt install clang clang-tools curl gcc gdb git lcov libarchive-dev make

[2021-03-22 03:14] nathanshearer commented on #190
Running a static proot under a regular linux distribution appears to work fine. However, running proot under android always results in
`proot info: vpid 1: terminated with signal 7`

What can I do to work around this problem. There is no useful output explaining why proot is crashing or what I can do to try to fix the problem.

[2021-03-22 14:15] oxr463 commented on #190
Perhaps you should try the Termux fork, https://github.com/termux/proot. It contains many Android-specific changes.

[2021-03-31 21:36] twaik opened #249 "[Feature request] tmpfs/ramfs emulation"
Is it possible to create something like fake tmpfs implementation? Fds of files in fake tmpfs folder can be obtained by tracee using unix socket that can be present in root filesystem. It will be usable for a case when mounting tmpfs is impossible due to a lack of permissions.

[2021-04-20 14:07] oxr463 opened #250 "relocation R_X86_64_PC32 against absolute symbol `_binary_python_extension_py_size' in section `.text' is disallowed"
## Expected Behavior

Building a PRoot binary.

## Actual Behavior

Python extension error when building.

## Steps to Reproduce the Problem

[code]

## Specifications

  - Proot/Care version: 8c0ccf7db18b5d5ca2f47e1afba7897fb1bb39c0
  - Kernel version: `Linux 49c896f37a82 5.11.0-7612-generic #13~1617215757~20.10~97a8d1a-Ubuntu SMP Thu Apr 1 21:09:17 UTC 2 x86_64 GNU/Linux`
  - Host distribution:

[2021-04-20 20:31] oxr463 commented on #250
See: https://stac47.github.io/c/relocation/elf/tutorial/2018/03/01/understanding-relocation-elf.html

[2021-04-20 22:09] oxr463 opened #251 "How can PRoot access hardware devices? e.g., audio"
Is this even possible?

[2021-05-04 17:28] LHLaurini opened #252 "Preserve file ownership after setgid/setuid or fork"
## Expected Behavior
File ownership should be preserved after calls to `setuid` and/or `fork`. Such behavior is often required for some test suites to run properly.

## Actual Behavior
Files created by proot always belong to the current gid:uid.

## Steps to Reproduce the Problem

I wrote a simple program in C to show the issue.

[code]

## Specifications

  - Proot/Care version: Proot v5.2.0-alph

[2021-05-09 14:18] A2bhishek6 opened #253 "."
.

[2021-05-09 15:31] #253 closed

[2021-05-24 22:14] oxr463 opened #254 "Implement check for unit testing"
See: https://libcheck.github.io/check

[2021-06-02 22:05] oxr463 commented on #252
I found this in the roadmap:

Source: https://github.com/proot-me/proot/blob/master/doc/proot/roadmap.rst#documentation

[2021-06-02 22:19] LHLaurini commented on #252
I guess a setuid program is a program that has the setuid flag set, not a program that uses the `setuid` syscall. Is that wrong?

[2021-06-02 22:21] oxr463 commented on #252
To be honest, I'm not sure.

[2021-06-03 16:38] oxr463 commented on #244
[code]

[2021-06-03 17:08] oxr463 commented on #244
See also: https://github.com/proot-me/proot/issues/239

[2021-06-21 10:38] Ricardo-cell-cloud opened #256 "Arreglar PROOT"
Htj

[2021-06-21 10:48] Ricardo-cell-cloud opened #257 "Intento configurar PROOT con repositiry prestados"

[2021-06-21 10:52] Ricardo-cell-cloud opened #258 "Reestructurar proot"
Nosé que aser

[2021-06-21 13:57] #258 closed

[2021-06-21 13:58] #257 closed

[2021-06-21 13:58] #256 closed

[2021-06-30 19:48] oxr463 commented on #248
Duplicate of https://github.com/proot-me/proot/issues/53

[2021-06-30 19:48] #248 closed

[2021-06-30 19:48] oxr463 commented on #248
@EricHripko thank you for the bug report!

[2021-07-01 01:45] kubast2 opened #259 "proot ignores LD environmental variable in builds, can't find compiled libs"
## Expected Behavior
Provided linker gets used.
## Actual Behavior
Linker gets autodetected.

## Specifications
  - Proot/Care version: v5.2.0 tried v5.1.0 but it can't find include paths
  - Host distribution: x86-64
  - Guest distribution: aarch64-unknown-linux-android29

## Command Output

[code]

-L/home/kubast2/Desktop/proot/aarch64/samba.org/ftp/talloc/2.3.2/aarch64/lib
ls -laR
[code]

In at

[2021-07-01 01:46] kubast2 commented on #259
I stare for couple hours at it and I can't figure it out sorry for ignorance goodnight

[2021-07-01 01:54] kubast2 commented on #259
I do realize I don't have libarchive compiled
But the linker shouldn't fail for libtalloc

[2021-07-01 08:01] kubast2 commented on #259
**Folder structure:**
[code]
The scripts I gave were launched from aarch64 dir which is overlay mounted build dir.
This way I save on space, and changes to build scripts "emit" to other folders.
I make sure to un_mount clean and mount back the architecture specific folders.

**Env vars:**
[code]

[2021-07-01 08:05] kubast2 commented on #259
The ndk folder has been generated with generate standalone toolchain;
A directory had to be bind mounted into a specific spot for that script to work again with newest NDK;

[2021-07-01 10:47] oxr463 commented on #259
Can you verify the output from `pkg-config`?

See: https://github.com/proot-me/proot/blob/master/src/GNUmakefile#L26

You could also try overriding `LDFLAGS` via `make -e`.

[2021-07-01 10:53] kubast2 commented on #259
[code]

[2021-07-01 10:55] kubast2 commented on #259
hmmm
[code]

[2021-07-01 11:04] kubast2 commented on #259
thing is it is clear to me that enivormental variables get passed to clang because -v went through

[2021-07-01 11:41] kubast2 commented on #259
After adjusting the paths and adding PKG_CONFIG_PATH:
[code]
[code]
[kubast2@archlinux aarch64]$ ./build_proot.sh
fatal: No names found, cannot describe anything.
  LD    loader/loader
/home/kubast2/Desktop/proot/NDK/bin/aarch64-linux-android-ld.bfd: unrecognized option '-Wl,--build-id=none,-Ttext=0x2000000000,-z,noexecstack'
/home/kubast2/Desktop/proot/NDK/bin/aarch64-linux-android-ld.bfd: use th

[2021-07-01 11:44] kubast2 commented on #259
the bizzare thing is:
[code]
I don't even give the right linker to the libtalloc build

[2021-07-01 11:55] kubast2 commented on #259
I will make a comment once I get libarchive compiling

[2021-07-02 09:58] kubast2 commented on #259
[aarch64.tar.gz](https://github.com/proot-me/proot/files/6753566/aarch64.tar.gz)
[code]
@oxr463 this time I have a problem with the linker not finding my libraries, I additionally

[2021-07-09 03:12] Apteryks opened #260 "error "bind: Address already in use" when running test-ssssssss"
## Expected Behavior

The test should pass.

## Actual Behavior

The test fails with an "bind: Address already in use" error.  See the output below.

## Steps to Reproduce the Problem

  1. Run the test suite with: `make check -C test V=1 -j 4`.

## Specifications

  - Proot/Care version: v5.2.0-alpha tag
  - Kernel version: 5.12.9-gnu x86_64
  - Host distribution: Guix System
  - Guest distributi

[2021-07-09 03:15] Apteryks commented on #260
It is perhaps caused by the fact that the networking support inside the build chroot of GNU Guix is not complete enough.  If you cannot reproduce this in a containerized environment, feel free to close it.

[2021-07-09 03:27] Apteryks opened #261 "test-ptrace01.c test fails with exit status 1 (waitpid(): No child processes)"
## Expected Behavior

The test should pass.

## Actual Behavior

The test seems to fail due to `waitpid(): No child processes`.  See the output below.

## Steps to Reproduce the Problem

  1. Run the test suite with: `make check -C test V=1 -j 4`.

## Specifications

  - Proot/Care version: v5.2.0-alpha tag
  - Kernel version: 5.12.9-gnu x86_64
  - Host distribution: Guix System
  - Guest distribu

[2021-07-09 04:20] Apteryks opened #262 "support statx(2), so that newer GNU coreutils can be used"
## Expected Behavior

Running the test suite using a recent GNU coreutils release (e.g. 8.32) should pass.

## Actual Behavior
3 test fails:
[code]
Based on a comment in GNU Guix sources, this would be explained by the fact that "newer coreutils use statx(2) when running 'stat -c %a' or similar, which PRoot doesn't properly support".

## Steps to Reproduce the Problem

  1. Run the test suite with

[2021-07-09 04:43] Apteryks opened #263 "Many test failures on aarch64"
## Expected Behavior

The test suite should pass the same as on x86_64

## Actual Behavior
Multiple test fail (none of which fail on x86_64 with the same software environment except for the Linux kernel)
[code]

## Steps to Reproduce the Problem

  1. Run the test suite with: `make check -C test V=1 -j 4`.

## Specifications
[code]
Using the following build inputs:
[code]

## Detailed build log
[7

[2021-07-09 16:27] oxr463 commented on #263
@Apteryks thank you for sharing that information with us. To clarify, none of those tests fail when you run on x86_64? The reason why I ask is because unfortunately, the test suite is in an abysmal state currently.

[2021-07-09 16:54] oxr463 commented on #260
Commit: https://github.com/proot-me/proot/commit/b916c3beb0f8114b87a646be696ec67b12ce8450

[2021-07-09 17:02] oxr463 commented on #260
@Apteryks are you the new PRoot maintainer for Guix? It would be great to chat sometime on Gitter!

[2021-07-09 19:14] Apteryks opened #264 "[feature-request] Add support for the powerpc64 architecture"
## Expected Behavior

Ideally, proot could be built on powerpc64.

## Actual Behavior

The build fails, with errors mentioning "Unsupported architecture".

## Steps to Reproduce the Problem

  1. Build from source on a powerpc64le-linux system

## Specifications

  - Proot/Care version: v5.2.0-alpha tag
  - Kernel version: 4.19.171-2 (2021-01-30) ppc64le GNU/Linux
  - Host distribution: Debian wit

[2021-07-09 19:19] oxr463 commented on #264
Source: https://github.com/proot-me/proot/blob/master/src/arch.h#L51

[2021-07-09 19:31] Apteryks commented on #263
@oxr463 I confirm that none of these tests fail on x86_64!

[2021-07-10 02:56] Apteryks commented on #260
@oxr463 Hello!  Packages in GNU Guix typically do not have assigned maintainers to them; at least not in an official way; I just happened to notice that building for PRoot for ARM was broken and looked into it. I'd be happy to chat, on Gitter or on #guix (libera.chat), if I can be of help :-). My user name there is 'apteryx'.

[2021-07-22 01:11] oxr463 commented on #250
Bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=94391

[2021-07-22 01:51] oxr463 commented on #250
This might be specific to Alpine due to musl libc. I was able to build without any issues on Debian 10.

[2021-07-24 07:31] angelsl commented on #182
This is a bit tricky. At least one cause of this crash is when `readlinkat` is called with an empty string for the `path`, which is allowed: (see [readlinkat(2)](https://man.archlinux.org/man/readlinkat.2))

proot doesn't handle this case, and I'm not sure if simply making `detranslate_path` ignore an empty `t_referrer` is correct. In fact, I'm not sure if proot's readlinkat handling is otherwise

[2021-08-01 14:21] mariuszkurek opened #265 "wine: could not load ntdll.so: (null)"
## Expected Behavior
Wine works using proot.
## Actual Behavior
Wine crashes immediately.
## Steps to Reproduce the Problem
[code]
## Specifications

  - Proot/Care version: 5.1.0
  - Kernel version: 5.12.19
  - Host distribution: Void Linux x86_64 musl
  - Guest distribution: Void Linux x86_64 glibc

## Command Output

[code]

[2021-08-01 14:56] oxr463 commented on #265
Thanks for opening this issue.

Can we try cranking up the verbosity on wine?

See: https://wiki.winehq.org/Debug_Channels

[2021-08-01 17:08] mariuszkurek commented on #265
[code]

[2021-08-12 08:51] chewi commented on #250
I've hit this on Gentoo with glibc. Perhaps it's GCC 11.2.

[2021-08-12 13:19] oxr463 commented on #250
Ah... That's interesting. Let me see if I can reproduce on an older version.

[2021-08-29 11:24] jzakrzew commented on #227
I also have encountered the apt issue. The following patch seems to fix this for me:
[code]
I'm not sure what the security implications of such a change would be though.

[2021-08-29 21:22] oxr463 commented on #227
Thanks for the patch, @jzakrzew! I'll review the patch and see if that solves the issue.

Reference(s):
- https://www.gnu.org/software/libc/manual/html_node/Permission-Bits.html

[2021-09-02 01:26] oxr463 commented on #250
[code]

[2021-09-02 02:05] #244 closed

[2021-09-07 22:13] oxr463 commented on #259
@kubast2 any updates on this one?

[2021-09-07 22:14] #251 closed

[2021-09-07 22:19] #190 closed

[2021-09-07 22:21] oxr463 commented on #188
@5ghz @rossyeager please try building proot against the master branch and retest.

[2021-09-07 22:25] kubast2 commented on #259
@oxr463 I will be honest with you, I gaved up and asked someone who created a niche package manager + compilation helper for NDK binaries, to get it working for me.
Exchange some emails, and he said I can just use what he created instead.

I just generated my libs+binaries, and tried to still do some solution, or at least give some form of feedback(and yeah I at some point took a look, that he too

[2021-09-07 22:26] kubast2 commented on #259
Repository:
https://github.com/leleliu008/ndk-pkg-formula-repository

[2021-09-07 22:27] #259 closed

[2021-09-11 13:38] oxr463 commented on #227
Here is the output from using the static v5.2.0 release build:

[code]

Source: https://github.com/proot-me/proot-heroku-poc/tree/proot-v5.2.0-static

[2021-09-13 00:37] oxr463 commented on #188
[code]

[2021-09-14 17:10] oxr463 opened #271 "Rootfs section introductory sentence doesn't make much sense"
Source: https://proot-me.github.io/#rootfs

[2021-09-14 22:28] oxr463 commented on #239
See: https://hub.docker.com/r/muslcc/x86_64

[2021-09-30 10:30] oxr463 commented on #48
This will not be implemented.

[2021-09-30 10:30] #48 closed

[2021-09-30 13:35] yuyichao opened #283 "SYSARG_1 and SYSARG_RESULT are the same on ARM and AArch64"
And I assume this is a problem on sh4 as well for `SYSARG_5` and `SYSARG_RESULT`.

This cause the syscall exit handler to get the wrong arg1 value, in particular, for [`PR_getsockname`](https://github.com/proot-me/proot/blob/4de38a7709a64c940331de0f0ea2eede6001b7f5/src/extension/portmap/portmap.c#L450). This causes the socket03 test to fail.

A similar issue exists on x86 between `SYSARG_NUM` and

[2021-10-01 14:39] oxr463 commented on #262
@Apteryks please test and see if that fixes the issue.

[2021-10-01 14:49] oxr463 commented on #260
@Apteryks can you please test this again.

[2021-10-01 14:53] oxr463 commented on #263
@Apteryks please test again and let me know if this is any better.

[2021-10-01 16:15] Apteryks commented on #106
Seems to be OK on latest commit.

[2021-10-01 16:17] Apteryks commented on #260
@oxr463 passed on latest commit af689de9860e3cad2033bbecce9a7a4a2f9724ad, thank you!

[2021-10-01 16:17] Apteryks commented on #262
Looks OK on af689de9860e3cad2033bbecce9a7a4a2f9724ad, thank you!

[2021-10-01 16:23] Apteryks commented on #263
@oxr463 hey! It now looks much better:
[code]
The only two failures (test-docker & test-cdd39012) i also see on the latest master.

Thanks for the great work!

[2021-10-01 16:36] oxr463 commented on #260
Don't thank me, thank @yuyichao

[2021-10-01 16:36] #260 closed

[2021-10-01 16:37] #262 closed

[2021-10-01 16:37] #263 closed

[2021-10-01 17:22] #250 closed

[2021-10-01 17:26] oxr463 commented on #250
This has been fixed.

[code]

[2021-10-01 17:34] oxr463 commented on #106
Agreed! I'm going to close this FINALLY!

[2021-10-01 17:34] #106 closed

[2021-10-01 17:45] yuyichao commented on #106
Note that on my system (archlinux x64, armv7h and aarch64) I’m still seeing a few failures related to seccomp. In particular, the execve issued by the loader doesn’t get picked up by the enter handler and actually get sent to the kernel which resulted in a memory access error and abort of the tracee. Disabling seccomp get rid of that issue…

[2021-10-01 18:38] Apteryks opened #286 "many test failures on armhf-linux"
## Expected Behavior

All tests should pass.

## Actual Behavior

Many tests currently fail.

## Steps to Reproduce the Problem

  1. Run the test suite on the latest main branch (tested: a70023ab3db47d011265451b99a1abef7b9d7afc).

## Specifications

  - Proot/Care version: commit a70023ab3db47d011265451b99a1abef7b9d7afc
  - Kernel version: 5.13.12-gnu
  - Host distribution: Guix System
  - Guest

[2021-10-04 00:06] oxr463 commented on #243
@nathanshearer you appear to be using the termux fork, (See: https://github.com/termux/proot). Can you reproduce using a binary built from this repository?

[2021-10-04 00:08] oxr463 commented on #211
@erdnaxeli can you test again using either the v5.2.0 release or on the master branch?

[2021-10-04 02:42] zxq432 opened #290 "Bad system call and fail exit when running scanelf in termux proot-distro gentoo"
## Expected Behavior
[code]
## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. install termux-app on android
  2. pkg upgrade; pkg install proot-distro; proot-distro install gentoo
  3. proot-distro login gentoo
  4. scanelf -yqRBF '#k%F' -k '!.symtab' /lib64

## Specifications

  - Proot/Care version:
[code]
  - Kernel version:
android kernel:
[code]
proot faked kernel:
[code]
  -

[2021-10-04 03:16] yuyichao opened #292 "Test failure caused by syscall in signal handler during chained syscall"
Reduced from the same test failure as #291

Reduced reproducing case below. Running with `PROOT_NO_SECCOMP=1`

[code]

The order of event is,

1. Tracer (vpid=1) kill the tracee (vpid=2)
2. Tracer waits for the tracee to die.
3. proot have not yet recieve the death of the tracee yet so the wait call is queued up as a chained syscall.
4. proot got the news that the tracee is dead, send a SIGCHLD to

[2021-10-04 08:03] erdnaxeli commented on #211
It's not better :(
[code]

[2021-10-04 21:07] oxr463 commented on #292
@yuyichao is this resolved per https://github.com/proot-me/proot/pull/291?

[2021-10-04 21:10] yuyichao commented on #292
Unfortunately not. In fact, this issue becomes clear after I implemented #291. https://github.com/yuyichao/proot/commit/6bf72a7bff316514e89ed982bb253c091b534d4d does workaround this for the wait case but.

1. I want to check to make sure it doesn't broke the seccomp too much or at least be compatible with the logic there.
2. I want to see if this can happen for other chained syscalls that we do ne

[2021-10-18 06:11] w296488320 opened #306 "android intercept svc(systemcall) of ptrace"
hi, great developer
Do you know how to intercept svc instructions on android?
Many of app now will read apk into memory via svc(syscall) open function，Invalid inlinehook was caused。
I know interception can be intercepted via ptrace。But I don't know what to do。Do you have good suggestions or methods?
Thank you desperately for your support！

[2021-10-19 18:57] parke opened #307 "-R and -S fail to chdir to / when $PWD does not exist in the guest rootfs"
## Expected Behavior

I expect `-r` and `-R` (and `-S`) to behave similarly.

## Actual Behavior

When the directory `$PWD` does not exist inside the guest rootfs:

`-r` will print a warning and `chdir()` to `/`
`-R` fails to print a warning and fails to `chdir()`
`-S` fails just like `-R`

## Steps to Reproduce the Problem

I am running in this directory.

    $  pwd
    /home/hack/20211018_ubunt

[2021-10-19 21:02] oxr463 commented on #306
Hi @w296488320 you might want to ask around in the Termux community, (See: https://wiki.termux.com/wiki/Community) or file an issue on their fork, https://github.com/termux/proot/issues

[2021-10-19 21:02] #306 closed

[2021-10-19 21:06] #290 closed

[2021-11-05 23:12] oxr463 commented on #184
@dead-end please test again on the master branch.

[2021-11-05 23:16] #188 closed

[2021-11-07 01:45] sattlerc opened #310 "Nested invocations of proot fail"
I tried nesting invocations of proot:
[code]

## Expected Behavior

The program call should succeed.

## Actual Behavior

[code]

The referenced bug is from 2013 and has been fixed for a long time.

## Specifications

  - Proot/Care version: master (db16f349)
  - Kernel version: 5.14.14
  - Host distribution: Arch Linux

[2021-11-07 01:53] sattlerc commented on #310
Before I used master, I used 5.1.0 (I was not able to compile 5.2.0 due to #250). However, that did not even pass this check:
[code]
I'm guessing that is related to #106.

Setting `PROOT_NO_SECCOMP=1` yields no errors here and with the program call from the bug report.

[2021-11-08 01:22] #245 closed

[2021-11-08 01:27] #271 closed

[2021-12-20 14:10] cristianrz opened #312 "signal 11 received on arm processor"
Running proot on Debian inside a VM on M1 throws signal 11. Both Debian and proot are the aarch64 builds. Tried different guest distros and they all fail.

## Specifications

  - Proot/Care version: 5.1.0
  - Kernel version: 5.10.0-10 arm64
  - Host distribution: debian
  - Guest distribution: ubuntu

## Command Output

[code]

[2021-12-20 16:45] fsquillace opened #313 "Proot v5.2 static binary for ARM"
## Expected Behavior

Similarly to v5.1 it would be great to get static binary for proot v5.2 for ARM arch too.
In the latest stable release I can only see the x86_64 static binary only:
https://github.com/proot-me/proot/releases/tag/v5.2.0

## Specifications

  - Proot version: proot 5.2

[2021-12-26 05:18] w296488320 opened #314 "how to set result in translate_syscall_exit method ?"
I want to modify the return result of the svc , I am consult to your writing code style 。
I ve tried to modify the return result in translate_syscall_exit 。

...
case SC_openat:
            status = get_sysarg_path_explicit(tracee, path, SYSARG_2,ORIGINAL);
            if (status < 0){
                PLOGE(">>>>>>>> svc after get path in openat fail ")
                break;
            }

[2021-12-26 06:13] #314 closed

[2022-01-01 23:55] cristianrz opened #315 "File permissions problems with archlinux image"
## Expected Behavior

File permissions and ownerships works fine upon proot'ing on a rootfs.

## Actual Behavior

Inside proot

[code]

Outside proot:

[code]

## Steps to Reproduce the Problem

  1. Download archlinux image from Docker Hub (I use [graboid](https://github.com/blacktop/graboid))
  2. Extract all tars
  3. `proot -0 -r [rootfs directory]
  4. Tried other arguments but nothing seems

[2022-01-03 15:47] oxr463 commented on #315
Does it happen if you download Arch from one of these sites? https://proot-me.github.io/#rootfs

[2022-01-03 19:32] cristianrz commented on #315
Just tried from LXC images and I get the same result, e.g.

[code]

and then

[code]

for all directories. Again, only for archlinux.

[2022-01-07 20:25] oxr463 commented on #313
I've manually built and added static binaries for AARCH64 and ARM for the v5.3.0 release. I'm going to add them for v5.2.0 as well.

[2022-01-07 20:45] #313 closed

[2022-01-07 20:49] oxr463 commented on #312
@cristianrz can you try again using the latest v5.3.0 release:

- https://github.com/proot-me/proot/releases/download/v5.3.0/proot-v5.3.0-aarch64-static

[2022-01-07 20:51] oxr463 commented on #265
@mariuszkurek can you test again on the latest v5.3.0 release?

[2022-01-07 22:35] djypku opened #318 "sudo and pkexec do not work"
## Expected Behavior
`sudo` to run as root in `proot` container
`pkexec` to run root-requiring program with the define of `polkit`

## Actual Behavior
`sudo` and `pkexec` do not work

## Steps to Reproduce the Problem

  1. export docker image to `/tem`
  2. `sudo chown -R root:root /tem`
  3. `sudo chmod 4755 /usr/bin/sudo`
  4. `sudo chmod 4755 /etc/sudo.conf`
  5. `sudo chmod 4755 /usr/bin/pkex

[2022-01-07 22:38] djypku commented on #318
Not work with `proot -0 -R /tem`
`pkexec` does work with `sudo -E proot -0 -R /tem` but it is meaningless because the propose or `pkexec` is to get permission without `su` and `sudo`

[2022-01-07 22:51] cristianrz commented on #312
Works for me now. Thanks.

[2022-01-07 22:51] #312 closed

[2022-01-07 23:19] djypku opened #319 "-S or -0 -R donot work to install programes"
## Expected Behavior
Use `proot -S` or `proot -0 -R` to install apps in container.

## Actual Behavior
Both `apt` and `zypper` do not work.
`apt` cannot unlock, and `zypper` fails to read from `.run`

After running Step * , it is possible to use `apt` and `zypper` but many other programs breaks for they need to be in less permission.

## Steps to Reproduce the Problem

  1. `rysnc -aAxXH / /tem` t

[2022-01-08 00:30] oxr463 commented on #239
See also: https://github.com/proot-me/proot/issues/313

[2022-01-08 00:30] #239 closed

[2022-01-08 00:32] oxr463 commented on #225
@Kitsumi please test again on the latest v5.3.0 release

[2022-01-08 00:35] oxr463 commented on #191
@probonopd please test again with the latest v5.3.0 release.

[2022-01-08 00:38] oxr463 commented on #186
@loveshack please test again on the latest v5.3.0 release.

Reference(s):
- https://proot-me.github.io/blog/alpine-aarch64

[2022-01-08 00:40] oxr463 commented on #134
@liuchibing @cswl please test with the latest v5.3.0 release.

[2022-01-08 00:55] oxr463 commented on #52
Assuming this works now that PRoot has its own loader.

[2022-01-08 00:55] #52 closed

[2022-01-08 01:54] djypku opened #320 "debootstrap not work"
## Expected Behavior
Use `debootstrap` to get a Debian Stable system. I used to use Debian docker image, but I have met some problem, so I think `debootstrap` may be better.
## Actual Behavior
`apt install` not work, fatal error form `dpkg`

## Steps to Reproduce the Problem

  1.`debootstrap --arch=amd64 stable /deb`
  2. `apt update`
  3. `apt install sudo `

## Specifications

  - Proot/Care ve

[2022-01-20 00:50] oxr463 commented on #310
[code]

[2022-01-20 01:25] oxr463 commented on #265
I tested wine inside of an Alpine Linux rootfs and I didn't get that error. I don't know much about Void, but maybe we could try Ubuntu or another distro?

[2022-01-22 16:55] oxr463 commented on #283
@yuyichao is this fixed with the latest v5.3.0 release?

[2022-01-22 16:57] oxr463 commented on #286
@Apteryks can you test again on the latest v5.3.0 release?

[2022-01-22 16:57] yuyichao commented on #283
The linked PR worked around this for the specific case. I didn’t see any built in use that can cause problem but I also don’t think there’s a generic solution atm.

[2022-01-22 17:04] oxr463 commented on #261
@Apteryks can you test again on the latest v5.3.0 release?

[2022-01-22 17:36] oxr463 commented on #283
Hmm, okay. I'll leave this open for now then.

[2022-01-22 19:07] oxr463 commented on #227
@virtualstaticvoid I am going to close this since I don't see a way around Heroku blocking ptrace.

[2022-01-22 19:07] #227 closed

[2022-01-23 17:37] Apteryks commented on #286
@oxr463 Hello, I just did (using the 5.3.0 tag); there are still many failures; see the attached build log.

[cmxaigk250m4q8imdgpmp3vcdayvqws3-proot-5.3.0.drv.gz](https://github.com/proot-me/proot/files/7921012/cmxaigk250m4q8imdgpmp3vcdayvqws3-proot-5.3.0.drv.gz)

[2022-01-23 17:38] Apteryks commented on #261
See: https://github.com/proot-me/proot/issues/286#issuecomment-1019532072.

[2022-01-25 14:46] mariuszkurek commented on #265
Neither 5.2.0 from Void repo or 5.3.0 static from GitHub changed anything.

The entire point of me running Wine this way is having a base system using muslc (which doesn't support 32-bit apps, but it's less resource-hungry) and glibc installation only for Wine, while both of them behave exactly the same (package management, configuring and all that jazz). Void is the only distro I know that ship w

[2022-01-25 14:53] oxr463 commented on #265
I would recommend filing a bug with Void then. If this issue is not reproducible on any other distribution then it doesn't seem like a PRoot issue to me.

[2022-01-25 14:53] #265 closed

[2022-01-25 15:09] loveshack commented on #315
I found this on Debian 11, and assume it's https://gitlab.archlinux.org/archlinux/archlinux-docker/-/issues/56
I used an old image to do the Arch testing I needed.  I haven't tested a new one on current Fedora, where I guess it will work.

[2022-01-25 19:26] oxr463 commented on #315
I'm going to go ahead and close this issue. But feel free to open a new one if you run into any problems with the new image.

[2022-01-25 19:27] oxr463 commented on #264
Reference(s):
- https://wiki.qemu.org/Documentation/Platforms/PowerPC

[2022-03-05 12:17] xxhg opened #322 "[Feature Request] Add support for MIPS architecture"
Will MIPS architecture be supported in the future?

[2022-03-05 17:12] oxr463 commented on #322
What's the use case? I don't think I've seen any interest or issues on that architecture so far.

[2022-03-05 17:22] xxhg commented on #322
embedded.

[2022-03-05 19:44] oxr463 commented on #322
I'll leave this open as a feature request.

[2022-03-06 01:18] xxhg commented on #322
That's great, because many embedded devices do not have root privileges.
thanks.

[2022-03-06 17:37] Sonicadvance1 opened #323 "loader on AArch64 has a program header at 20'0000h"
## Expected Behavior
Not to intersect with the lower 32-bits. This causes applications like wine running under emulation to not load due to intersecting memory ranges.
Maybe think about compiling loader with `-static-pie` instead of `-static` so this program section goes away. While still allowing the loader address to still be placed at 0x20'0000'0000h

## Actual Behavior
ELF gets loaded at offse

[2022-03-18 04:57] wowdd1 opened #324 "[Feature Request] Add support for s390x architecture"
please support s390x architecture

[2022-03-29 20:39] Artem-2402 opened #325 "Victoria migun"

[2022-04-01 19:04] mahesh-hegde commented on #320
Can you post the flags you passed to debootstrap?

[2022-04-03 19:27] PavelAtr opened #326 "The listing of directories is corrupted and the work of the ls command in proot is broken."
## Expected Behavior
syscall getdents expected to work normally
## Actual Behavior
Directory listing is broken

## Specifications

  - Proot/Care version: 5.1.0
  - Kernel version: Linux homesrv.tinyware.ru 5.15.21-x86-64 #4 SMP Wed Feb 9 15:35:21 UTC 2022 x86_64 GNU/Linux
  - Host distribution: Debian 11 amd64
  - Guest distribution: Debian 11 amd64

## Command Output

[code]

[2022-04-03 19:51] PavelAtr commented on #326
Sorry issue closed test system was too dirty.

[2022-04-04 09:08] PavelAtr commented on #326
On a clean system, the situation repeated itself.

[2022-04-04 11:29] oxr463 commented on #326
Can you test with the latest v5.3.0 release?

- https://github.com/proot-me/proot/releases/tag/v5.3.0

[2022-04-04 13:41] PavelAtr commented on #326
This test with release 5.3.0 passes successfully, there are no such errors. Thanks.

[2022-04-05 01:13] PavelAtr opened #327 "Not running Linux environment on Android (seccomp)"
## Expected Behavior
The proot is expected to mask the problematic syscall.
Specifically, I suspect that the source is the guest ld.so and is calling prctl syscall.
## Actual Behavior
Currently, guest programs exit with signal 31.

## Steps to Reproduce the Problem

Usually on Android, termux/proot is used, it fixes this problem, but for me it has a number of other drawbacks.
You can probably repr

[2022-04-26 10:38] w296488320 opened #329 "seccomp mode How do I modify the return value?"
I want to try to modify the return result of a method by seccomp with ptrace.I don t know if the proot supports it

If you use (ptrace- > PTRACE_SYSCALL) this should be fine, but the efficiency is too low

Do you have any good ideas?

[2022-04-30 05:37] w296488320 opened #330 "fork a thread attch main process"
[code]
I found a BUG that doesn t know what caused it as if it was a talloc problem.Have you ever encountered this problem?
I think it should be wrong with my writing method and I want to fork out a process and go to the attch main process.Because the (enable_syscall_filtering) method parameter needs to wear a tracer。

So I
 (Tracer * first = get_tracee (NULL, 0, true);)

Initialize in the master